[2016-04-26 18:46] websharp opened #2 "DI Compilation fails due to dependency duplicate on older magento2 versions then 2.0.4"
Running cli command setup:di:compile fails for the _Controller\LoginCheck_ dependencies due to internal dependency reference duplication.

**Not reproducable with Magento2 v2.0.4.**

Confirm error occurance on older magento2 installments.

![capture](https://cloud.githubusercontent.com/assets/5824556/14830222/d7773cdc-0bef-11e6-8ee3-39b341c5b6e4.JPG)

[2016-04-26 19:08] #2 closed

[2016-05-30 08:56] websharp opened #7 "New Whitlist Entry saving fails"
Reported Issue:
Registering a new address for the Force Login Whitelist has failed to add a new address. Please see the attached image.

![bitexpert - whitelist code error](https://cloud.githubusercontent.com/assets/5824556/15644761/1f7c6ee2-2655-11e6-8a0f-6ec2cb65b9c0.JPG)

[2016-05-30 08:57] websharp opened #8 "Missing Consideration of Admin Advanced Configuration Setting"
Reported issue:

In the admin backoffice: Store> Configuration > Advanced, the module is still shown as disable. Until I turn that one, I will not be able to see the Force Login Whitelist feature displayed as part of the menu. On the front end, it is working perfectly even if it is displayed as disabled in the admin backoffice.

[2016-06-03 17:43] #7 closed

[2016-06-06 06:15] websharp commented on #8
The behaviour of Magento seems to be fine and works as expected. But this can be taken as an enhancement idea to allow or disable to menu at store level.

[2016-06-15 23:46] thelton opened #10 "Module not listed in Advanced"
Tried to install on Magento 2.0.7, files loaded fine but the module isn't listing in Stores > Configuration > Advanced.

[2016-06-16 06:27] websharp commented on #10
Hello @thelton I am sorry, but I can not reproduce your issue, see image below. Can you double-check again, please?

![magento2_advanced](https://cloud.githubusercontent.com/assets/5824556/16107343/179d2352-339c-11e6-96b0-6a37eace4af6.png)

[2016-06-16 18:52] thelton commented on #10
Sorry, works great... still getting used to magento2 and just needed to run setup:upgrade

[2016-06-16 18:52] #10 closed

[2016-06-27 09:13] agoeurysky opened #11 "Magento 2.1 compatibility"
Hi,

the `composer.json` (`"magento/module-customer": "100.0.*"`) is not compatible with Magento 2.1.

Is there a future release that will be compatible with Magento 2.1 soon ?

Thanks.

[2016-06-28 19:10] websharp commented on #11
hi @agoeurysky,

we will look into this definitly, need to check the backward incompatible changes of the current release candidate and run some tests.

[2016-07-01 15:26] #11 closed

[2016-07-22 15:11] salgua opened #14 "Whitelist entire website or store view"
Hi,

I'm trying to add to the whitelist an entire site view, but it doesn't work. I tried to add "/" or ".*" or "*", specifying the desired site view, nothing, it doesn't work. Could you help me?

[2016-07-23 11:50] websharp commented on #14
Hi @salgua ,

thanks for reaching out! I understand you want to whitelist an entire store with a single rule, so a whitelist wildcard entry should suffice your needs, declared as regular expression like this "/.*" or ".*" .

This was intended from the beginning, but the quotation of the entry rules was performed too strong. I fixed this with PR #15 and released version 1.2.1 with the fix. Can you

[2016-07-25 07:52] salgua commented on #14
Hi @websharp, I update your plugin to the latest release (1.2.1) and cleared the cache. I tried with regular expressions like ".*" and "/.*", nothing, it doesn't work. Any suggestion is welcome, maybe I am doing something wrong.

[2016-07-25 10:52] websharp commented on #14
Hi @salgua ,

many thanks for your feedback. After recreating your situation, I found another bug not building up the collection filter statement correctly which resolves in ignoring store specific rules. I published a new release 1.2.2, which you can give a try - has worked for me in a Magento 2.0.7 environment and should also work with Magento 2.1+ installments.

As always, happy to hear if the

[2016-07-25 10:52] #14 closed

[2016-07-25 11:43] salgua commented on #14
Hi @websharp,

just tried your work, thank you very much, it seems to work fine!

Thank you again!
Salvatore

[2016-08-18 09:53] JananiKrishnan opened #19 "InstallSchema and InstallData in the setup missing"
In the Setup the installSchema and installData is missing where there is the upgradeSchema and upgradeData.

Without the schema install to create the Table it gives the error as
SQLSTATE[42S02]: Base table or view not found: 1146 Table 'gp.bitexpert_forcelogin_whitelist' doesn't exist, query was: SELECT `main_table`.* FROM `bitexpert_forcelogin_whitelist` AS `main_table` WHERE (`store_id` IN(0, 1)

[2016-08-18 12:12] websharp commented on #19
Hi @JananiKrishnan ,

that's odd, I'm not able to reproduce the problems of installment on Magento 2.0.7. Can you tell me more about your setup? At what moment does this error occur?

[2016-08-19 05:32] JananiKrishnan commented on #19
Well thank you for the Response. But I've already resolved it.

[2016-08-19 07:27] shochdoerfer commented on #19
@JananiKrishnan mind sharing how you solved the issue with us?

[2016-08-19 17:37] #19 closed

[2016-08-21 18:08] blizam opened #22 "disable /customer/account/create"
I don't want customers to be able to create accounts in one of my websites/store views... so I'd like to similarly restrict access to this page... however, this is one of the "hardcoded" paths that I cannot delete from the Whitelist... is there a way to remove it?

[2016-08-21 18:47] websharp commented on #22
Hi @blizam,

to provide you with an adhoc solution I suggest, if you have access to your database, you could change or delete the entry by yourself from the database table (Table name is _bitexpert_forcelogin_whitelist_).

 For the future, I can think of an _reset default rules_ feature and allow the default rules to be changed or deleted.

[2016-08-21 20:43] blizam commented on #22
thank you very much for the prompt reply and workaround :) :+1:

I think an option like that in the future would be definitely be useful... the more control the better I think.

[2016-08-30 10:13] sivajik34 opened #26 "every time redirecting to my account page when i click home page"
After login every time redirecting to my account page when i click home page.
We have configured varnish cache.
Some times if i delete browser cache & refresh varnish it seems working fine.

[2016-08-31 06:40] websharp commented on #26
Hi @sivajik34 ,

thank you for your information. To provide offical support for Varnish, I have to dig deeper into the mechanics of Magento2+Varnish first, so this issue may take a while before I can provide a solution.

[2016-09-01 07:40] sivajik34 commented on #26
More Information.
I'm facing this issue for all cms pages.
I mean if i click any cms page its redirecting to my account page.
if i remove browser cache (no need of refresh varnish) its working fine.
steps to reproduce the issue:
1.with out login: request for any page (3 times or more)
2.then login
3.now click any cms page

[2016-09-04 09:34] websharp commented on #26
hi @sivajik34 ,

thanks for the additional information. Sadly I am not able to reproduce your issue at the moment.
Can you tell me more about your system? Which version of the module do you use? Magento 2.0 or 2.1, CE or EE?
Does this issue occur in every browser or just in a specifc one, and do you use some specific cache settings or extensions influcencing the cache behaviour of your browser?
Ha

[2016-09-07 07:02] sivajik34 commented on #26
Magento 2.0 Enterprise ,On every browser I'm facing this issue. no other modules influenced.

[2016-09-08 12:27] websharp commented on #26
Hi @sivajik34 ,

it seems the Magento 2.x Enterprise Edition works the Page Cache differently as the Community Edition and this may cause the described problems. We do not have the EE at hand, so it is not possible for us to test the module against it.
Perhaps you are able to contribute a working solution or if you require some assistance let us gain access to the EE to debug this issue.

[2016-09-27 13:49] dutchwave opened #28 "Customer groups"
Wouldn't it be great if a page/storefront can also be whitelisted based on Customer Group.
Any one planning to add this functionality?

[2016-09-28 07:23] websharp commented on #28
Hi @dutchwave ,

thank you for sharing your thoughts! I thought about this feature a while ago and initiallay discarded the idea at first, due to the fact you have to be logged in to now the users Customer Group. On second thought this can be realized after all, but needs some more conceptional thinking. I think this feature fits well in this module, but must be separated from the initial whitelis

[2016-09-29 13:23] #22 closed

[2016-10-14 12:47] jontay27 opened #30 "How do i whitelist the home page?"
White listing '/' seems to just white list the entirety of the website. Do you have an example of how to just white list the home page?

Thanks,

[2016-10-14 13:02] jontay27 commented on #30
Never mind, read a few of the old posts and using /$ solved it :)

Thanks!

[2016-10-14 13:02] #30 closed

[2016-12-13 15:13] wc-matteo opened #31 "Extension's configuration menu doesn't appear on 2.1"
I tried to install both through composer and manually.

_Magento ver. 2.1.0_

[2016-12-13 16:28] websharp commented on #31
Hi @wc-matteo ,

have you enable the module using the CLI (bin/magento module:enable bitExpert_ForceCustomerLogin) and tried to clear the cache?

[2016-12-14 10:11] wc-matteo commented on #31
Thanks, that worked! I did not enable it through the CLI.

I think it'd be helpful to have that kind of info in the README.

[2016-12-14 10:11] #31 closed

[2016-12-14 14:20] nkomate opened #32 "Error when trying to to install the module"
There was an error message occurred when I was trying to install the module to Magento 2.0.10

sudo composer require bitexpert/magento2-force-customer-login

Do not run Composer as root/super user! See https://getcomposer.org/root for details
Using version ^1.2 for bitexpert/magento2-force-customer-login
./composer.json has been updated
Loading composer repositories with package information
Updati

[2016-12-14 17:15] websharp commented on #32
Hi @nkomate ,

can you please try running this command (added version string after package name):

`composer require bitexpert/magento2-force-customer-login:1.1.*`

[2016-12-15 17:44] nkomate commented on #32
Thank you @websharp for your help, the module has been successfully installed .

After playing around with the module, I'm now still having trouble to add the homepage itself to the whitelist. By adding / to the whitelist seems to give access to the whole website while adding /home seems to be not working.

Is there a way to do so? since I want to show visitors membership information when they fir

[2016-12-16 09:23] websharp commented on #32
Hi @nkomate ,

As I understand your request, I will refer you to issue #30 , for your purpose you can use the value:

[2016-12-17 06:36] nkomate commented on #32
Thank you so much for you help @websharp .

The module is now working perfectly.

[2016-12-17 10:50] shochdoerfer commented on #32
@nkomate Could we feature your site somewhere? Like having a list of sites that are using this Magento module?

[2016-12-19 13:44] #32 closed

[2016-12-20 14:44] nkomate commented on #32
@websharp Sure, but my website is still now offline as I'm developing my website in a testing server. I'll let you know when it's ready to be online.

[2016-12-27 07:58] dungnv opened #33 "How to add only home page in whitelist ?"
Dear Author,

How to add only home page in whitelist ?

Thanks.

[2016-12-27 19:10] websharp commented on #33
Hi @dungnv ,

As I understand your request, I will refer you to issue #30 , for your purpose you can use the value:

[2016-12-29 14:30] JohnNDK opened #34 "Create account always available"
Removing the whitelist to "/customer/account/create/" have no effect.

It's still possible to create an account even though it's not whitelisted.

[2016-12-29 15:37] websharp commented on #34
Hi @JohnNDK ,

can you tell me more about your system? Is it Magento 2.0 or 2.1? Did you clear/flush the cache?
Did you remove the whitelist entry in the database manually?

[2016-12-30 00:41] mattcoz commented on #33
This isn't working for me.

[2016-12-30 06:45] mattcoz commented on #33
Had to use

`^/$`

It apparently checks for the whitelisted path _anywhere_ in the requested path. This doesn't seem like a good idea to me.

[2016-12-30 08:03] JohnNDK commented on #34
Magento CE 2.1.3.

Yes, I cleared cache, compiled, cleared /var/ and what not. Everything else works, just not account creation.
No, I haven't removed it manually from the database, I removed it from the backend.

Is there a bug where it doesn't remove it correctly from the backend?

[2017-01-16 21:11] cowmix88 commented on #26
I'm having a similar problem which is caused by the browser caching the 302 redirection response

[2017-01-16 22:04] cowmix88 opened #35 "Redirect Customer to Account Dashboard after Logging in setting"
You can set this value to No in Configuration > Customers > Customer Configuration > Login Options
and the expected result is that after login the user should be returned to the original page they were on, but with this plugin enabled it seems to always send them to the My Account page after login.

[2017-01-17 08:57] websharp commented on #26
Hi @cowmix88 ,

thank you very much for this contribution, we will look into this.

[2017-01-17 09:07] websharp commented on #35
Hi @cowmix88 ,

thank you for the information. We need to think about how to include this configuration setting.

For the moment, the redirect target url ist fixed to _customer/account/login_ and not respecting any other configuration. @carlowens has provided a pull request to redefine the target url by the administration area (https://github.com/bitExpert/magento2-force-login/pull/29).

We are fi

[2017-01-29 20:15] mtjohnson opened #36 "Cannot login to admin after installation"
I do see that the module was installed successfully because the homepage redirects to login, but when I attempt to sign into the admin backend it will only reload the login screen (without any error appearing).

I've cleared cache / cookies / etc. Sometimes when I've done that instead of the Login screen reappearing I see a "too many redirect loops" error, but that is intermittent.

I'm using the

[2017-01-30 14:43] philippsander commented on #36
Does it work if you disable the module?

[2017-01-30 16:19] saelsimard opened #37 "Nav bar not showing after install"
Hi,

After installing and adding the home page on the whitelist, the navigation bar with the categories completely disappeared. Any clue what might have caused that?

[2017-02-09 07:53] dungnv opened #38 "Conflict with extension https://amasty.com/improved-layered-navigation-for-magento-2.html"
Hi,

Can you help us resolved this issue:
[code]

Thanks.

[2017-02-09 13:20] cookiekiller commented on #37
@saelsimard could you please provide information about your magento2?

[2017-02-09 14:05] cookiekiller commented on #38
Hi, I don't have the plugin you mentioned to reproduce this behaviour. This stack trace is just about the Amasty plugin and not about ours.

Did you install the Amasty plugin first or force-login first? Can you maybe try installing them the other way?

[2017-02-09 14:08] cookiekiller commented on #36
@mtjohnson I couldn't verify this problem neither with 2.0.* nor with 2.0.*. I even tried it with obscrube admin_f45as urls and so on.

[2017-02-09 14:12] cookiekiller commented on #34
Hm, I tried this with 2.1.4 and it's working fine. Can you provide your whitelist?

[2017-02-09 18:36] levasc opened #39 "Sorry, I dont see Forced Login Whitelist after install"
I run  composer require bitexpert/magento2-force-customer-login
in the directory of my website, however no menu is displayed

Composer, as I understand, shows it is installed

composer show bitexpert/magento2-force-customer-login
name     : bitexpert/magento2-force-customer-login
descrip. : The Force Login module for Magento2 redirects a storefront visitor to the Magento2 Frontend login page, if t

[2017-02-09 21:38] levasc commented on #39
It appeared after upgrade :)

[2017-02-09 21:46] shochdoerfer commented on #39
Perfect!

[2017-02-09 21:46] #39 closed

[2017-02-11 19:46] levasc opened #40 "In the Magento "Component manager" permanent "Please wait...""
In Chrome > Inspect > I see error "Failed to load resource: the server responded with a status of 500 (Internal Server Error)" and link to https://www.armota.lt/setup/index.php/componentGrid/components, after oppening which I see:
An error occurred during execution; please try again later.

Additional information:

RuntimeException

File:
/var/www/armota/setup/src/Magento/Setup/Model/PackagesData.

[2017-02-11 20:58] levasc commented on #40
Probably not this component related issue, but global magento:
https://github.com/magento/magento2/issues/6718

[2017-02-13 14:59] cookiekiller commented on #40
@levasc I tried it with another composer module, but error didn't show up. Can you give me 2-3 examples when this should crash?

[2017-02-17 19:15] davidstillson opened #41 "Version increment"
Please increment the module.xml version for 1.3.0

[2017-02-18 09:07] websharp commented on #41
Hi @davidstillson ,

thanks for the feedback. Fix release 1.3.1 has now the correct version number in module.xml.

[2017-02-18 09:07] #41 closed

[2017-02-20 11:37] mekakkar commented on #35
Hi Team,

I am aslo facing the same issue. everytime the i am redirected to same page. I tried changing the cache from Varnish to default but issue still persist. I am on Magnto 2.1 CE

[2017-03-09 21:13] shochdoerfer commented on #38
@dungnv we recently fixed this issue for one of our clients. The source of the problem was found in a theme the client bought. Unfortunately the quality of the theme code was not the best. We were able to fix the problem in the theme. In case you need help, ping me.

[2017-03-09 21:13] #38 closed

[2017-03-10 10:04] miketechtwo opened #43 "Default add sitemap.xml and robots.txt to whitelist"
Hi guys,

It would be great if robots.txt and sitemap.xml are default added to the whitelist.
Now you'll get redirect to the customer login page when you go to http://www.example.com/robots.txt.
Google will not be able to index the site since robots.txt is not allowed to visit.
Thank you in advance.

Kind regards,
Mike

[2017-03-10 16:10] philippsander commented on #43
Very good idea! thank you!

[2017-03-11 17:30] websharp commented on #35
Hi @mekakkar ,

have you tried to override the DI as a workaround for the moment?

[2017-03-11 20:14] mekakkar commented on #35
Hi @websharp

I tried installing this extension in 3 different setup of Magento 2 on windows environment. I am not sure of the reason but it started working properly after sometime, Now i am facing the issue in  only 1 setup. Ill try to override and revert back in couple of days. Thanks

[2017-03-15 20:20] #35 closed

[2017-03-15 20:24] #33 closed

[2017-03-15 20:24] websharp commented on #33
Added documentation with the homepage example

[2017-03-15 20:26] #8 closed

[2017-03-15 20:30] websharp commented on #36
Hi @mtjohnson ,

closing this issue. If you encounter your problem any further, please re-open and list your used version of Magento 2 (2.0 or 2.1; CE or EE) and your current list of whitelist rules.

[2017-03-15 20:30] #36 closed

[2017-03-15 20:34] websharp commented on #28
This issue is placed in our internal system, so I'm closing this issue here. We are planning on bringing this feature with an additional module.

[2017-03-15 20:34] #28 closed

[2017-03-20 18:00] maderlock opened #54 "Cannot disable by scope"
A common use-case for this extension would be to have trade and direct to customer websites set up, possibly with multiple sites under each. I say this as we've had several clients over the years with this requirement.

To support this, the module just needs to have an enabled/disabled option in the system config. This can then be scoped by website/store without further effort.

[2017-03-20 18:40] maderlock opened #55 "Match home page"
I tried entering / as a whitelist to allow the home page to match.

But this seems to match all pages. I think the regex needs to match the specified page and no more. For the start this could just match the part of the request that Magento considers the path, and at the end ignore any query string.

[2017-03-20 18:41] maderlock commented on #55
It looks like you are already matching the path, so that's a start. I'll remove the .* at the beginning then.

[2017-03-20 19:17] websharp commented on #54
Hi @maderlock

many thanks for your contribution. I added #57 PR to match your request and added the specificiation of the target url.

[2017-03-20 20:29] #43 closed

[2017-03-20 20:32] #54 closed

[2017-03-20 20:34] websharp commented on #55
Hi @maderlock

you should be able to whitelist the homepage with the following rule.

`^/?$`

But I will look into your PR #56 for improving the regex matcher.

[2017-03-20 21:10] #26 closed

[2017-03-20 22:37] isanat commented on #40
Where is a solution ??

[2017-03-21 07:47] miketechtwo commented on #43
Thank you!

[2017-03-21 09:00] websharp commented on #40
hi @isanat,

depends on your problem? As I describe before referring to the report, this is an issue may coming from theme itself and has to be fixed in the theme potentially. This is hard to tell, as we do not have this theme to analyze, but got an issue report by another user with another theme. After analyzing that theme, the misusage of the object manager usage directly instead of using the DI

[2017-03-21 15:11] isanat commented on #40
Theme default magneto 2.

[2017-03-21 16:33] websharp commented on #40
Hi @isanat

I'm sorry, but I cannot follow your issue. The page you posted is reachable and can be visited. Please describe your issue in detail, or open a new issue, if it is not related to this issue.

Which version of the module are you using?

The module is tested on magento community edition 2.1.5 working fine, please try the current master branch version to have the latest features, it's to

[2017-03-23 17:50] websharp commented on #55
The regex matcher of PR #56 is failing in the tests, so this would need rework.

Did the mentioned rule work for you? Feel free to reopen, if your issues remain.

[2017-03-23 17:50] #55 closed

[2017-03-25 10:43] websharp opened #60 "Behavior Setting for Matcher"
# Description
The simplify the usage and writing of the whitelisting rules, the user should be able to specify how the given rule is to be interpreted. Not every user is custom to write regular expression, but want to add simple url rules. By allowing to select the way of interpreting the given rules, the normal user will have no trouble of adding simple static rules, and advanced users are able t

[2017-04-06 14:57] adamj88 opened #61 "Setup install then upgrade fails"
When creating a fresh install from a `composer.json` file with Magento & modules in and after running `setup:install`, when running `setup:upgrade` after this we're getting the following error:

[code]

[2017-04-06 15:17] websharp commented on #61
Hi @adamj88 ,

which version of the module do you use (or what does the composer.json entry look like)?

[2017-04-06 15:30] adamj88 commented on #61
Hi @websharp

Thanks for the reply, here's a more detailed explanation.

The module version is latest stable version: `1.3.1`

Composer file looks similar to that generated from `create-project` on `magento/project-community-edition`, here's some steps to replicate:

Create mysql db `forcelogintest`

## Create project

[code]

## Add module

[code]

## Add execute permissions on bin/magento

[code

[2017-04-06 16:34] websharp commented on #61
Hi @adamj88 ,

thank you for your explanation. I think we have to change the setup classes (UpgradeSchema.php) and split them (Install/Upgrade) to gain the required compatibility. For now as a workaround, you could try and delete the *bitexpert_forcelogin_whitelist* table after the installment, so the upgrade should run through.

[2017-04-07 09:36] adamj88 commented on #61
Hi @websharp

Sounds right, looks like when just using an upgrade script it's running on `setup:install` and `setup:upgrade`, without a check in place to see if this data already exists before adding the database table & columns.

Unfortunately for us this workaround isn't possible to implement on our CI.

I think this needs splitting into `Setup/InstallSchema.php` & `Setup/UpgradeSchema.php` - in

[2017-04-08 10:52] websharp commented on #61
Hi @adamj88,

correct, the scaffolding part must be extracted from the current _UpgradeSchema_ and placed into an _InstallSchema_. Happy if you want to give a pull request, else I will solve this in some time.

[2017-04-10 10:59] adamj88 commented on #61
Hi @websharp

I've opened a PR for this, I've tested this and it prevents the above issue from occurring.

Would it be possible for you to review this update? I've left `Setup/UpgradeSchema.php` in there incase you wanted to use it again in the future.

[2017-04-10 12:51] #61 closed

[2017-04-10 13:04] websharp commented on #61
Hi @adamj88,

I merged your PR (many thanks for that!) and published a second Release Candidate, so you could use the version `2.0.0-RC2`, see https://github.com/bitExpert/magento2-force-login/releases/tag/v2.0.0-RC2

[2017-04-14 14:21] adamj88 opened #64 "ACL error when accessing Store Configuration"
@websharp we're seeing an error in developer mode on Magento CE 2.1.6 (not sure if this is present on earlier versions).

When trying to access a Store's configuration in the admin side the following error is getting thrown:

[code]

The regex for resources expects the module's vendor name to begin with an uppercase letter, using `bitExpert` causes it to throw the above error.

@chedaroo has submi

[2017-04-14 20:43] websharp commented on #64
Hi @adamj88,

thank you for the report, the PR is merged to the _master_.

[2017-04-14 20:43] #64 closed

[2017-04-15 07:04] sandeepsharma12412 opened #65 "admin system xml file format error"
I am tried to setup this module in my magento 2.1.5 v. its enabled prefect but when i am try  to open it its disable label display .also the  admin confiuration getting exception error the system.xml file format is not proper can you help me .
Thanks

[2017-04-15 15:17] websharp commented on #65
Hi @sandeepsharma12412,

can you tell me which version of the Module you are using or the composer rule, you are using? We released a RC3 for the v2.0 of the Module, in which the system.xml issue is addressed. Maybe you can try and give feedback, if this has fixed your issue?

[2017-04-21 15:45] adamj88 opened #66 "Redirect loop"
I'm having a problem signing into a customer account with the module enabled on v2.0.0.

With the module enabled on a store view, I'm redirected to `/customer/account/` which redirects me back to `/customer/account/login/` and the loop continues.

This issue is resolved by whitelisting `/customer/account/` which is not present in the default configuration.

[2017-04-24 10:16] #66 closed

[2017-04-24 10:17] websharp commented on #66
Hi @adamj88

thank you for reporting this issue and thanks for the PR!

[2017-05-03 15:52] rikwillems opened #68 "Activating the module also blocks the backend"
After I activate the module in the backend I'm redirected to the frontend login. The events.xml file should be placed in the frontend directory to fix the issue.

[2017-05-04 08:12] adamj88 opened #69 "Unable to access protected URLs when logged in"
I'm having trouble accessing protected pages after logging in when using 2.0.1 and Magento CE 2.1.6.

If I try to access homepage root on `/` I'm getting redirected to `/customer/account/login`, I can login then get redirected to `/customer/account/`, the customer dashboard.

Once logged in and trying to access the homepage again, I get a 302 redirect to `/customer/account/login` which 302 directs

[2017-05-08 10:02] adamj88 commented on #69
@websharp have you had any experience of this issue or any ideas what may be causing this?

[2017-05-08 16:56] websharp commented on #69
Hi @adamj88 ,

so do you have a custom target url set in the administration? The handling of this is happening in the [after login plugin](https://github.com/bitExpert/magento2-force-login/blob/master/Plugin/AfterLoginPlugin.php), I need to look it up more to conclude the potential of misconception, but for the moment I am not clear of the cause of the side effect you describe.

[2017-05-08 16:56] websharp commented on #68
Hi @rikwillems ,

thank you for the feedback. We will consider this for the next release.

[2017-05-08 16:57] websharp commented on #65
Hi @sandeepsharma12412 ,

I'm closing this issue. If your problem remains, feel free to reopen this issue again.

[2017-05-08 16:57] #65 closed

[2017-05-08 17:21] adamj88 commented on #69
Our target URL is set to `customer/account/login`.

We debugged it a bit further and round the event `customer_session_init` (https://github.com/bitExpert/magento2-force-login/blob/master/etc/events.xml#L15), was getting fired twice for some reason, in the first instance as a guest, and in the second as a logged in user.

To work around this we fired the `LoginRequiredOnCustomerSessionInitObserver

[2017-06-08 14:50] peterjaap commented on #68
This doesn't happen on my installation, so it works fine for me.

[2017-06-08 14:52] peterjaap opened #70 "Menu still shows when customer is not logged in"
I would like to also have the menu hidden when a customer is not logged in.

[2017-06-09 05:29] websharp commented on #70
Hi @peterjaap ,

thank you for your feedback. At the moment this is the expected behavior. But this is definitely a feature request for the next release.

[2017-06-09 07:08] peterjaap commented on #68
Ok, it did happen on my install. Made PR #71

[2017-06-12 06:06] websharp commented on #69
Hi @adamj88 ,

I was not able to reproduce this issue. I checked on CE-2.1.7 (clean setup). Do you have any advanced caching systm running like Redis, Memcached or Varnish?

[2017-06-12 06:09] websharp commented on #68
Hi @peterjaap

thank you for the PR. I will make this a bugfix release on 2.0.

[2017-06-12 06:09] #68 closed

[2017-06-12 07:44] adamj88 commented on #69
Hi @websharp

Yes this was both with Varnish & Redis running, I'll push a copy of the work around to a fork when I get chance, see if it makes any sense.

[2017-06-14 07:23] #60 closed

[2017-07-10 15:00] maderlock opened #73 "Force login top level system config tab is overkill"
It's great that we now have the ability to enable/disable by scope, but system admin is getting unusable with every developer putting in another top level tab.

Any chance that the very small number of config options could be put in as a group under the Customer system config tab?

[2017-07-10 15:10] maderlock opened #74 "Upgrade to 2.1 RC2 from 2 breaks backward compatibility of rules"
Before 2.1 the assumption was that all rules were regex.
In 2.1 the default is that all rules are static, and seems to apply to all the existing rules.

Therefore in upgrading my current functionality breaks. Can I suggest that even if your default becomes static, all existing rules on upgrade are set to regex to maintain backwards compatibility?

[2017-07-10 15:11] maderlock commented on #55
I know this is closed, but just to confirm that this solve my issue. Thanks

[2017-07-10 15:37] maderlock opened #75 "Static matching strategy could ignore ending slash"
The static strategy would be a good one to use in many simple cases, except that when trying it out I found that about half my links failed because a slash was appended. I should almost certainly canonicalise my links, but this still feels a little fragile.

Would it be better to allow an options slash on the end of links that do not have one, or perhaps you think that in this case we should be us

[2017-07-10 15:38] websharp commented on #74
Hi @maderlock,

shouldn't be a problem to setup an upgrade for this. Hope to find some time this week to do so. I let you know.

[2017-07-10 15:40] websharp commented on #73
Hi @maderlock ,

I see your point. Interested in providing a PR for this? In other ways, I will provide a change as soon as possible.

[2017-07-10 15:44] websharp commented on #75
Hi @maderlock ,

thanks for the feedback, much appreciate it!

I think the best way would be to canonicalise, because I think at the end "/foo/bar" and "/foo/bar/" representing the same endpoint. Is there any reason why you think this could be fragile?

I think doubling every rule would be an overhead mess, and regex should be for more complex stuff.

[2017-07-10 16:27] maderlock commented on #73
I should have made one before when I implemented scoping in a fork. I'll take a look at this when I have a moment - let's see who gets to it first :)

[2017-07-10 16:30] maderlock commented on #75
No, I don't think that would be fragile. I cannot think of a useful case where you would want a bareword to differ from that same bareword plus a slash - nobody would find that intuitive I think

[2017-07-11 20:15] websharp commented on #73
Fixed this issue with RC3 of v2.1.0

[2017-07-11 20:15] #73 closed

[2017-07-11 20:15] websharp commented on #74
Fixed this issue with RC3 of v2.1.0

[2017-07-11 20:15] #74 closed

[2017-07-11 20:15] websharp commented on #75
Fixed this issue with RC3 of v2.1.0

[2017-07-11 20:15] #75 closed

[2017-07-17 12:19] jahicDario opened #79 "Invalid system.xml file"
I installed module, run all post-installation commands and when I login to admin page and try to go to Stores-Configurations I get this error:
`1 exception(s):
Exception #0 (Magento\Framework\Exception\LocalizedException): Invalid XML in file /.../app/code/bitExpert/ForceCustomerLogin/etc/adminhtml/system.xml:
Element 'resource': This element is not expected.
Line: 7`

[2017-07-17 13:11] websharp commented on #79
Hi @jahicDario ,

which version of the module and of Magento 2 (2.0, 2.1; CE or EE) are you using?
Currently, I cannot reproduce this issue in our test environment with Magento 2.1 CE.

[2017-07-17 13:18] jahicDario commented on #79
Hi @websharp
I'm using  Magento ver. 2.1.3 and v2.1.0-RC3 which I installed mannualy, not with composer.

[2017-07-17 13:27] websharp commented on #79
Can you remove line 7 with the _resource_  tag from the file, so it looks like this and try again:

[code]

[2017-07-17 13:42] jahicDario commented on #79
When I remove line 7, Configuration page is opened but there is no Force Login tab. I also compare system.xml against vendor/magento/module-config/etc/system_file.xsd and it says that there is a problem with resource.
I attached xml and xsd.

[forceLoginXml.tar.gz](https://github.com/bitExpert/magento2-force-login/files/1152783/forceLoginXml.tar.gz)

[2017-07-17 14:19] websharp commented on #79
I get not XML validation issues with or without removing the resource tag. I used multiple external XML validators and the in-built PHPStorm validation with the XSD resolution by using `bin/magento dev:urn-catalog:generate .idea/misc.xml`

You may try this example

[code]

[2017-07-17 15:09] jahicDario commented on #79
When I copy that in my system.xml, again page is loaded but there is no Force Login tab.

[2017-07-17 16:01] websharp commented on #79
Did you enable the module by running `bin/magento module:enable bitExpert_ForceCustomerLogin`?

[2017-07-17 16:29] jahicDario commented on #79
Yes I have. Module is enabled and I can even see under customer "Force custoimer login", but it's not clickable, probably because it has to be enabled under "Force login".

[2017-07-17 17:22] websharp commented on #79
Are you accessing the backend as a fully qualified administrator? Or are you using an administrative user with custom ACL settings?

[2017-07-17 20:56] jahicDario commented on #79
Yes, I'm accessing as first user, fully qualified administrator. I'm not sure what you mean by custom ACL settings?

[2017-07-17 22:27] jahicDario commented on #79
I don't know how and why, first time when I was installing module with composer I was getting some version mismatch error. Now I tried again and it worked. If I somehow reduce problem again, I will write here.
Thanks for fast answers.

[2017-07-17 22:27] #79 closed

[2017-07-18 11:31] maderlock commented on #75
That's great, thanks. I'll pull this into the site I'm working on and see how it fares in user testing.

[2017-07-21 13:04] jignesh26 opened #80 "Un-escaped forward slash."
Hello,

 I have mulitwebsite, I have to set this module for another website. but when i add the / to whitelist  the homepage it is allowing me to access all pages.

For example.
http://test-2.com should be allowed to visit.
http://test-2.com/site should be allowed to visit , here shop is store name.

but / is allowing to access all pages.
when i try to check the #^.*%s/?.*$#i into regular expressi

[2017-07-21 18:02] websharp commented on #80
Hi @jignesh26 ,

which version of the module are you using? The [documentation](https://github.com/bitExpert/magento2-force-login#whitelisting) has an example on how to add the rule for the global whitelisting rule related to the homepage. Of course you could also add an additional whitelist entry with the rule value `^/site/?$`.

The current release candidate allows to switch to a static approach

[2017-07-22 07:42] jignesh26 commented on #80
Hello @websharp ,

 I am using version 2.0.0, I have added the line from the documentation, /?$ to skip the home page but it is allowing all the pages. so as you said i will try to use ^/b2b/?$ but for what about the home page?

I have check the regular expression online to find out any error and found that expression has error. but i am not sure.

Thank you in advance.

[2017-07-22 08:42] websharp commented on #80
Hi @jignesh26,

you said that you are using this rule:

but you need the start line indicator of regex to force the rule to match only with the homepage, and not with everything ending optionally with end slash character. So the correct rule is:

[2017-07-28 14:42] maderlock opened #81 "Error in admin pages due to invalid XML"
This is in Magento 2.1.7.
When visiting pages like a cart rule, I get the following error:
[code]

It looks like the <resource> node should be removed from system.xml?

[2017-07-29 08:18] websharp commented on #81
Hi @maderlock ,

this seems related to #79 , for which I will provide a pull request soon (placing the resource tag correctly as defined in the XSD).

[2017-07-31 13:59] maderlock commented on #81
Looks like #79 should fix this.

[2017-08-03 09:39] #81 closed

[2017-08-04 12:22] websharp commented on #80
Hi @jignesh26 ,

we released v2.1 of the module. Please try and check if your issue remains. I will close this issue, but if your issue remains, feel free to open again.

[2017-08-04 12:22] #80 closed

[2017-08-31 14:35] mattgreenfield opened #83 "404 pages do not show when logged out"
My 404 pages are working fine when a user is logged in but are white screening when logged out. I've disabled this plugin and the 404 pages work fine again.

- Is this something that I need to whitelist?
- Is there any way to serve a different 404 page to users who are logged in Vs those who aren't (even just with a class on the body/CSS)?

Thanks for your help,

[2017-09-01 08:12] websharp commented on #83
Hi @mattgreenfield ,

you can add the Url for the 404 page to the whitelist entries as a new entry (then clear cache, etc.), this should solve your issue. Currently the module does not let you configure the handling of serving custom 404 error pages on certain conditions.

Best regards!

[2017-09-01 09:24] mattgreenfield commented on #83
Thanks @websharp,
I've added "/no-route" to the white list and can now get to that page ok. However, if I visit "[myDomain]/speling-mistke" (or any other page that should 404) I get the white screen. It's as if the logic checking the whitelist happens before the redirect/routing.

Is this the expected behaviour? Are you able to replicate it?

Thanks again,

[2017-09-04 08:39] evilprophet opened #84 "Disable registration isn't possible"
I would like to disable possibility to register new user(for B2B shop).
I removed /customer/account/create from whitelist but registration is still possible because default rule Customer Account Dashboard (/customer/account) is also match for registration url.

[2017-09-27 10:25] peterjaap opened #85 "Incompatible with Magento 2.2"
[code]

[2017-09-27 10:55] shochdoerfer commented on #85
@peterjaap Thanks. Mind sending a PR to fix the issue?

[2017-09-27 11:28] peterjaap commented on #85
Not sure there even is an issue. Right now it just complains about the constraint in your composer.json.

[2017-10-04 08:33] #85 closed

[2017-10-10 06:18] namratavora commented on #38
Facing same issue

[2017-10-10 11:58] shochdoerfer commented on #38
@namratavora same module or a different one?

[2017-10-12 08:17] thienphucvx opened #87 "It shows blank page when install it on magento 2.2"
I have tested it on magento 2.2 . After installing, it shows blank page. Do we have new version of it which compatible with magento 2.2 ?

[2017-10-12 08:28] websharp commented on #87
Hi @thienphucvx ,

thank you for your feedback. Which version of the module did you try out? The current version v2.2 of the module is compatible with Magento 2.2.

Best regards

[2017-10-12 09:40] thienphucvx commented on #87
Is this version ?
https://github.com/bitExpert/magento2-force-login/tree/release/r2.2.0
 I have installed this version : 2.1.0 <module name="bitExpert_ForceCustomerLogin" setup_version="2.1.0"> from this respository.

[2017-10-12 11:02] websharp commented on #87
You can either download the current v2.2 release here: https://github.com/bitExpert/magento2-force-login/releases/tag/v2.2.0 and install manually, or if you use _compose_ you should be able to upgrade by running _composer update_

[2017-10-13 04:36] thienphucvx commented on #87
Hi,
 Strange. I have installed it and still received the blank page on frontend. When trying to access admin : it shows error "redirected you too many times."

Have you tried to install it on magento 2.2 ?

![bug_1](https://user-images.githubusercontent.com/4675698/31530443-afa338b2-b00a-11e7-9e8a-c3e99734a5db.png)

[2017-10-19 15:31] jaminion commented on #83
@mattgreenfield you're definitely correct that the whitelist checking occurs before noroute handling. The force login module instantiates a controller to handle the request, however since this happens outside of the normal M2 routing process, another controller gets instantiated by the routing process afterwards, and overwrites the response status code with 404, although it doesn't overwrite the r

[2017-10-20 12:58] websharp commented on #83
Hi @mattgreenfield and @jaminion ,

thanks for your contribution. I provided a fix for this issue with PR #88 , feel free to review and give me feedback. I may merge this fix in next days.

[2017-10-20 13:06] mattgreenfield commented on #83
Thanks @websharp. I'm afriad don't know enough PHP/Magento to comment with anything of worth to that PR, but thanks again.

[2017-10-21 07:55] shochdoerfer commented on #83
Not sure if it helps, but I just came across this blog post on [How Magento 2 Decides If A Page Is Cacheable](https://maxchadwick.xyz/blog/how-magento-2-decides-if-a-page-is-cacheable).

[2017-10-21 17:25] websharp commented on #84
Hi @evilprophet ,

I think the solution is rather simple to solve with the newest version of the module, where you can set the strategy of the whitelist rule to _static_ instead of _regex_. There should be the problem however, that the UI does not allow you do enter the edit form for these rules (maybe we should skip the prohibition as there is a reset default functionality by now).

If you have d

[2017-10-25 08:23] #83 closed

[2017-10-25 09:23] #84 closed

[2017-10-25 13:05] websharp commented on #87
Hi @thienphucvx ,

maybe you want to try out the new release candidate for v2.3.0 (https://github.com/bitExpert/magento2-force-login/releases/tag/v2.3.0-RC1).

Best Regards

[2017-10-25 13:06] websharp commented on #69
Hi @adamj88 ,

I will close this issue for now, but if you encounter the problem again, feel free to reopen. Maybe you want to try out the new release candidate for v2.3.0 first (https://github.com/bitExpert/magento2-force-login/releases/tag/v2.3.0-RC1).

Best Regards

[2017-10-25 13:06] #69 closed

[2017-10-26 12:42] gizmocn opened #91 "Whitelist is Not works for Magento 2.2.0"
I have installed the moduel(v2.3.0-RC1) on Magento 2.2.0, after I enable the module and test it on frontend, it works. great.
My php version is 7.0.22.

However, when I try to access Backend -> Customer -> Whitelist, I got error Message:

1 exception(s):
Exception #0 (Magento\Framework\Config\Dom\ValidationException): Element 'block', attribute 'class': [facet 'pattern'] The value 'bitExpert\Force

[2017-10-26 13:43] websharp commented on #91
Hello @gizmocn ,

thank you for your feedback. I suggest, you try out 2.3.0-RC2 (https://github.com/bitExpert/magento2-force-login/releases/tag/v2.3.0-RC2)

:)

Best regards

[2017-10-26 13:43] #91 closed

[2017-10-27 12:18] gizmocn commented on #91
It works now, thanks a lot

[2017-10-31 08:10] websharp commented on #87
Hi @thienphucvx ,

we released the stable candidate for v2.3.0. Hope, this can provide a solution for your issue. I will close this issue for now, but if you encounter any problems, feel free to reopen or create a new issue.

Best regards

[2017-10-31 08:10] #87 closed

[2017-11-04 18:30] mattcoz commented on #91
I have the latest 2.3.0 installed and I'm getting this same error.

[2017-11-09 13:44] AndrewAldayaABT opened #93 "Magento 2.2 enterprise: naming convention error"
![screenshot from 2017-11-09 08-34-49](https://user-images.githubusercontent.com/33432616/32608336-0e537f5a-c52a-11e7-96b9-6c7198708aeb.png)

It seems in Magento 2.2 you cant start your module with a lowercase letter.

[2017-11-09 14:30] AndrewAldayaABT commented on #93
added these to di.xml to fix issue

[code]

[2017-11-09 14:42] shochdoerfer commented on #93
perfect work-a-round ;)

[2017-11-09 18:26] cmuench commented on #93
Haha

[2017-11-09 18:29] rlieser commented on #93
aaaah, please, noooo!

[2017-11-15 17:26] julienvb commented on #93
I added the code from @AndrewAldayaABT to di.xml but I still have the same error.
Does anybody know how to solve this issue? I am on M2.2.

Ty!

[2017-11-17 20:02] shochdoerfer commented on #93
@julienvb we will provide a fix soonish. Just a lot of other things happening that need our attention. Sorry.

[2017-12-01 08:58] maxcamo opened #94 "Magento2 Exception #0 (Magento\Framework\Config\Dom\ValidationException): Element 'block', attribute 'class': [facet 'pattern'] The value 'bitExpert\ForceCustomerLogin\Block\Adminhtml\Manage\Create' is not accepted by the pattern '[A-Z][a-zA-Z\d]*(\\[A-Z][a-zA-Z\d]*)*'."
Hello,

i have installed the module on a plain 2.2

1 exception(s):
Exception #0 (Magento\Framework\Config\Dom\ValidationException): Element 'block', attribute 'class': [facet 'pattern'] The value 'bitExpert\ForceCustomerLogin\Block\Adminhtml\Manage\Create' is not accepted by the pattern '[A-Z][a-zA-Z\d]*(\\[A-Z][a-zA-Z\d]*)*'.
Line: 124

Element 'block', attribute 'class': 'bitExpert\ForceCustome

[2017-12-02 02:19] shochdoerfer commented on #94
Duplicate of #93.

[2017-12-02 02:19] #94 closed

[2017-12-02 19:24] shochdoerfer opened #95 "Varnish Cache Validation beginning 1/2/18"
Marketplace submissions will be  [checked](https://community.magento.com/t5/Magento-DevBlog/Varnish-Cache-Validation-beginning-1-2-18/ba-p/81203) in regard to problems with Varnish. This should not affect the current development as we fixed some issues in the past.

[2017-12-07 00:01] JesseCastro1985 opened #96 "Component dependency is the only problem everything that prevents the install how can I fix?"
We found conflicting component dependencies. Hide detail

Command "update" failed: Loading composer repositories with package information
Updating dependencies (including require-dev)
Your requirements could not be resolved to an installable set of packages.

Problem 1
- bitexpert/magento2-force-customer-login 2.0.0 requires magento/module-customer ~100.0 -> satisfiable by magento/module-customer[

[2017-12-07 12:55] websharp commented on #96
Hi @JesseCastro1985 ,

it seems you require a newer version of the force login module due to your Magento version. You may want to try this (download link at the bottom): https://github.com/bitExpert/magento2-force-login/releases/tag/v2.3.0

Best regards!

[2017-12-08 20:23] shochdoerfer opened #97 "Include the Extension Quality Program in Travis build"
Extend the Travis build to run the [Magento Extension Quality Program Coding Standard](https://github.com/magento/marketplace-eqp) checks for every build.

[2017-12-09 20:12] #93 closed

[2017-12-09 20:14] shochdoerfer commented on #93
@AndrewAldayaABT @julienvb could you please give the dev-master version a try? We just merged the PR in master. Would love to get your feedback before creating a new release. Thanks.

[2017-12-13 11:11] julienvb commented on #93
Hi I actually implemented another solution so I can not give you feedback on your solution.

[2017-12-19 13:14] shochdoerfer commented on #96
@JesseCastro1985 were you able to resolve the issue? If not, which Magento version are you using and which version of the force login module are you trying to install?

[2017-12-27 11:18] shochdoerfer commented on #96
@JesseCastro1985 could you please check if the problem still exists in the latest 3.0.1 release?

[2018-01-01 13:07] #97 closed

[2018-01-04 15:30] GalacticPlastic commented on #91
New error after updating to 2.3.0 with Composer:

1 exception(s):
Exception #0 (Magento\Framework\Config\Dom\ValidationException): Element 'block', attribute 'class': [facet 'pattern'] The value 'bitExpert\ForceCustomerLogin\Block\Adminhtml\Manage\Create' is not accepted by the pattern '[A-Z][a-zA-Z\d]*(\\[A-Z][a-zA-Z\d]*)*'.
Line: 127

Element 'block', attribute 'class': 'bitExpert\ForceCustomerL

[2018-01-04 16:04] websharp commented on #91
Hi @GalacticPlastic ,

you may want to try the newest release version [3.0.1](https://github.com/bitExpert/magento2-force-login/releases/tag/v3.0.1) by downloading manually or changing you composer.json file to apply to the newest version.

Best regards!

[2018-01-04 16:06] shochdoerfer commented on #91
@GalacticPlastic in case you run into problems, open a new issue please. That will make it easier to manage for us. Thanks.

[2018-01-26 17:49] leesimple opened #109 "Authorize.net failures after install"
Just a note - we noticed that after installing this plugin that successful Authorize.net charges would result in an error being shown upon checkout.  All the orders were still entered into Magento (v2.2.2) and the charges were successful at Authorize.net.  However, the error "Attention: Something went wrong, please contact the seller" would appear after a bit of a pause.

To correct this, we added

[2018-01-27 08:15] websharp commented on #109
Hi @leesimple ,

thank you very much for sharing this information!
@shochdoerfer maybe a FAQ section is a good way to place such information and make it visible for others?

Best regards!

[2018-01-28 15:17] shochdoerfer commented on #109
Done. I quickly added a [wiki page](https://github.com/bitExpert/magento2-force-login/wiki), we might change this later or provide a "better" solution.

[2018-01-28 15:17] #109 closed

[2018-02-02 11:45] #95 closed

[2018-02-02 11:46] shochdoerfer commented on #96
Assuming this issue is resolved, I close this issue.

[2018-02-02 11:46] #96 closed

[2018-02-12 03:44] mikemunevar opened #110 "Whitelist Backend not working upon fresh install"
After doing a manual install of this on my Magento 2.1.8 system, I get the following error with my marketplace plugin:

`		Incorrect dependency in class Ced\CsMarketplace\Controller\Adminhtml\Vproducts\Vproductgrid in /opt/bitnami/apps/magento/htdocs/app/code/Ced/CsMarketplace/Controller/Adminhtml/Vproducts/Vproductgrid.php
\Magento\Framework\App\Response\RedirectInterface already exists in contex

[2018-02-12 08:00] shochdoerfer commented on #110
Thanks for reporting this issue. Are you using a db table prefix in your Magento configuration?

[2018-02-12 19:36] mikemunevar commented on #110
I'm not sure. I did not specify a prefix when I installed Magento2.1 so it may be there by default?  How can I be certain?

[2018-02-12 19:41] mikemunevar opened #111 "Typo in readme"
Hello Team.

While installing your plugin last night, I was getting errors during compilation(at about 14%).  I ended up finding the issue, the folder name should be captialized:

`app/code/BitExpert/ForceCustomerLogin`

In the README.md there is a typo that says the correct folder name should be **b**itExpert (small b)

[2018-02-12 20:54] shochdoerfer commented on #110
Could you please check if the database table does indeed not exist?

[2018-02-13 17:26] mikemunevar commented on #110
Hi Stephan, I did run phpmyadmin, and searched for tables named bitexpert, forcelogin and whitelist, but wasn't able to find any.  I followed the directions in the readme for installing(downloaded code, extract, enable module, compile, upgrade, then flush cache)

What can I try next?

[2018-02-13 17:34] mikemunevar commented on #111
I see it fixed now. Cheers!

[2018-02-14 08:18] websharp commented on #110
Hi @mikemunevar ,

which version of the module do you use? If you are able to access your magento installation, you could also try to install by composer instead of manually download the code, so the correct version of the module  in relation to your Magento version is installed (`composer.phar require bitexpert/magento2-force-customer-login`).

Best regards!

[2018-02-14 16:56] mikemunevar commented on #110
Stephan, I went ahead and tried doing a composer install, but actually ended up making things worse, as the plugin was then installed and enabled twice, and the `./bin/magento` command was failing because of that.   After restoring to an older version of the server, I was able to perform the fresh install using composer.  I believe it installed an older version of the plugin.  All works now. Hope

[2018-02-14 16:56] #110 closed

[2018-02-14 19:35] shochdoerfer commented on #110
Sorry to hear this. The best was is indeed the Composer installation. If you run into more issues, let us know.

[2018-02-24 09:20] #111 closed

[2018-03-02 14:25] robmacecs opened #113 "CMS pages not redirecting when Varnish is used"
It seems that varnish returns the page before your module can check if it should redirect.

Setup is M2.1.10 using nginx for HTTPS termination, passing to Varnish, then back to NGINX and Magento

Request flow:
HTTPS -> Nginx -> Varnish -?-> Nginx -> PHP-FPM/Magento

I believe this is a correct implementation of Magento, Nginx, Varnish and SSL termination.
Is there some way I can set up the module

[2018-03-02 14:28] robmacecs commented on #113
Just to be clear as well, your module worked perfectly on dev, it is only since moving to a production/staging environment behind Varnish that this seems to be a problem, and it only seems to affect CMS pages and the homepage

[2018-03-02 15:00] shochdoerfer commented on #113
I guess it depends how aggressively Varnish is configured to cache the pages. If you have configured it to cache everything it is clear that the requests will be answered first by Varnish and will never reach Magento and thus our module. Not sure if you can exclude the pages that are protected from being cached, that would be an easy fix then, but this might turn your Varnish instance into a simpl

[2018-03-03 08:45] websharp commented on #113
Or maybe a hint in the HTTP Headers or Cookies may indicate Nginx before calling Varnish to choose between a call to varnish or directly link to Magento. However, I do not know, how this will influence the response / behaviour of Magento itself due to its explicit configuration and integration of Varnish.

[2018-03-05 09:20] robmacecs commented on #113
Hi both,

I believe this is the purpose of "Magento\Framework\App\Http\Context" getVaryString and the eventual X-Magento-Vary sha1 in the headers, although having taken a quick look, the customer group and logged in status should already be a part of this . I need to take another look to see why exactly this is being ignored, whether it lies in the Varnish setup itself or your module or not, sorry

[2018-03-19 08:01] shochdoerfer commented on #113
@robmacecs any news on that matter? I just came across [this blogpost](https://maxchadwick.xyz/blog/customers-being-logged-in-to-wrong-account-in-magento) and was remindes of this issue.

[2018-03-19 08:51] robmacecs commented on #113
@shochdoerfer no more information currently. We still have this issue but it was deemed low priority for now (Currently it just means that CMS content is available on the Wholesale site that ought to be logged in only access, but browsing to the catalog will redirect to login)

Thanks for the link, we do no use engintron caching as referenced on that post, but I think the concept agrees with the f

[2018-03-26 16:04] shochdoerfer commented on #113
Thanks. I'll close the issue for now, you can filter for closed issues to find it again. The issue won't get deleted, hopefully ;)

[2018-03-26 16:04] #113 closed

[2018-04-05 14:09] Ghadawi commented on #70
I have magento 2.2 sometimes force to logout after login if i change store language or click any menu

[2018-04-07 13:57] shochdoerfer opened #114 "User gets logged out afer store language"
I have magento 2.2 sometimes force to logout after login if i change store language or click any menu

[2018-04-07 13:59] shochdoerfer commented on #114
@Ghadawi I extracted your issue as #70 covers a complete different use case. Any chance you can provide us with more information? Otherwise we are not able to reproduce the issue and can't fix it.

[2018-05-03 02:24] mikemunevar opened #115 "Redirecting back to login page"
Hello Stephen,
I have a plugin that allows the user to login to a backend for managing their vendor account.  After the vendor logs in, the URL changes to /csmarketplace/vendor.

I added /csmarketplace/vendor as a whitelist regex rule, but it keeps on taking me back to the vendor login page. How can I prevent the plugin from doing this?

[2018-05-03 06:50] shochdoerfer commented on #115
Hard to say without seeing the configuration you have done. Could you send me a screenshot (via email) of your configuration - the edit screen of the rule? You can find my email address on my public GitHub profile page.

[2018-05-03 21:15] mikemunevar commented on #115
Ok I will send it to you in an email.

[2018-05-13 21:05] MrPaperArtsy opened #116 "Deleted White list pages still active"
Hi. I have installed force login on a new install of Magento 2.2.4. I have a wholesale store and don't want new customers registering themselves. So in the white list tab I deleted the entry page customer/account/create.

But when I navigate to the home page I can still click create new account and it takes me to the Create New Customer Account Page.

How do I fix this

Thank you.

[2018-05-14 05:36] dhrumin44 commented on #38
Facing same issue but model different.

`Circular dependency: Magento\Framework\View\Layout depends on Amasty\Shopby\Model\Layer\Cms\Manager and vice versa.`

is there any solution???

[2018-05-14 06:53] shochdoerfer commented on #38
@dhrumin44 I don't know this extension, best is to ask the author of the extension to fix this as the error seems to be on their side. We were facing similar issues in the past which badly written themes - themes quickly ported from M1 to M2 with a lot of ObjectManager calls in the template code. Maybe this issue is something similar.

[2018-05-14 06:59] shochdoerfer commented on #116
Have you enabled the module in `Stores > Configuration > Customers > Customer Configuration > Force Login` by setting the `Enable module` option to `Yes`?

[2018-05-14 07:15] shochdoerfer commented on #116
Found the "problem", we have another rule called "Customer Account Dashboard". Due to it's nature of being a regex rule, this will also match the `customer/account/create` route and thus whitelist it. Maybe you need to experiment a bit which routes to whitelist and which not to.

[2018-05-14 08:03] MrPaperArtsy commented on #116
Yes I had the module enabled. I have just deleted the Customer Account Dashboard Rule and that has fixed the problem.
Thank you.

[2018-05-14 08:03] #116 closed

[2018-05-31 06:02] Bmacuser1 opened #117 "Redirect to homepage after entering wrong User password"
Hi guys

Use case: Login to user account" /customer/account/login/ "After entering the wrong pw you get a redirect to the homepage and the default error message here

Expected result: Stick on the same page (" /customer/account/login/) and get the error message here to retry.

We have installed 2.2.4 on nginx server and default Whitelist rules only. Disable Module in Backend doesnt change anything

[2018-05-31 06:47] #115 closed

[2018-05-31 06:48] shochdoerfer commented on #117
Do you have any other modules installed, some custom settings in your nginx config or maybe Varnish involved?

I am not able to reproduce the behaviour locally on my test setup. You should not be redirected to the homepage at all, thing should actually work as you expect them to work.

[2018-06-09 09:54] Artem-Schander opened #118 "Password reset does not work out of the box."
Hi guys,
firstly thanks for the cool package. Makes the life a bit easier.

It took me awhile till I got the reason for not being able to reset a password. The whitelist entry for `/customer/account/resetpasswordpost` is not present by default. I think it should be.
I'll try to take the time and get together a pull request in the next days.
Please let me know if there are reasons why it's not ther

[2018-06-09 19:12] shochdoerfer commented on #118
Good catch, thanks. This is not missing for a particular reason, just a minor glitch ;) We'd love to get a PR from you to fix this.

[2018-06-11 10:51] shochdoerfer commented on #117
Hard to say without seeing what is going on. Any specific reason why you are using version 2.2.4, ideally you should use the latest version 3.0.1.

[2018-06-11 20:32] Pooofor opened #120 "after login, can't browse products, all link redirect to coutomer/account page."
When this extension is enabled, after login, the only available page is customer/account page. I can't go to any products, all redirect to account page.

When this extension is disabled, all work fine.

[2018-06-12 06:58] shochdoerfer commented on #120
Hi, thanks for opening this issue. What you describe is actually the use case of this module. After enabling the module, any non-loggedin user should not be able to visit the site. You are able to define a whitelist (=list of pages that should be visible) in the Magento backend.

[2018-06-12 06:58] #120 closed

[2018-06-12 18:01] Pooofor commented on #120
If a customer is not logged in, it shows the login page. This is working
fine. However, after a customer is logged, the only page s/he can go is the
customer/account page, no matter which product/category the logged in
customer click.  In other word, before login, a customer will get the login
page, after logged in, a customer will only get the customer/account page.

On Tue, Jun 12, 2018 at 1:58

[2018-06-13 13:12] Pooofor opened #121 "Can't browse products after login"
If a customer is not logged in, it shows the login page. This is working
fine. However, after a customer is logged, the only page s/he can go is the
customer/account page, no matter which product/category the logged in
customer click.  In other word, before login, a customer will get the login
page, after logged in, a customer will only get the customer/account page.

[2018-06-13 19:32] shochdoerfer commented on #121
Thanks for clarification, issue #120 sounded like you were not aware of what the module would be capable of doing.

Do you have more information for me like with Magento version are you running, which version of the module is installed and anything else that could be relevant like are you using Varnish?

[2018-06-13 19:51] Pooofor commented on #121
This is brand new installation of Magento 2.2.4, force-Login version 3.0.2.
There are three other extensions installed: onepagecheckout,
savedcreditcard, and customer_activation. Thanks.

On Wed, Jun 13, 2018 at 2:32 PM, Stephan Hochdörfer <
notifications@github.com> wrote:

[2018-06-14 04:08] Bmacuser1 commented on #117
Did not mentioned it correctly. We use the last version of your extension and Magento 2.2.4 CE Version. Did you test it with this version? We have the extension disabled in the backend and it creates still the issue. In our case it redirects from the Wholesale Site to the Retail site. We have our domain 123.com for Retail and 123.com/ws for Wholesale which protects the site with your extension.

I

[2018-06-14 06:59] shochdoerfer commented on #117
We tested the module with a default install of Magento 2.2.4 and it seems to work as it should be. When you disable the module in the backend, no redirect should happen. Not exactly sure what causes this issue.

Are Retail and Wholesale 2 different store views, stores or websites?

[2018-06-14 07:00] shochdoerfer commented on #121
Would you mind and try disabling those module, one by one to see if any of those cause side-effects?

[2018-06-14 11:00] Pooofor commented on #121
The module is disabled currently. Everything works fine after it is turned
off.

On Thu, Jun 14, 2018, 2:00 AM Stephan Hochdörfer <notifications@github.com>
wrote:

[2018-06-21 13:40] Bmacuser1 commented on #117
We tried different tests this week. Retail and Wholesale are 2 different Websites.

Our tests:
-with vanish disabled,
-backend module disabled
-removing all our own whitelist rules to just work with default whitelist rules

Only when i disable the entire module via command line I get the expected result. Login on Wholesale site and staying on this site as the usual magento login process. With modu

[2018-06-21 20:44] websharp commented on #117
Hi @Bmacuser1 ,

can you try an set a different target url in der administration configuration for the specific website (123.com/ws) with the full path?

So that the target url is:
123.com =>  customer/account/login/
123.com/ws => ws/customer/account/login/

You can find this configuration at Stores > Configuration > Force Login (you may review the [documentation section](https://github.com/bitExp

[2018-06-24 14:35] shochdoerfer commented on #117
Does #122 fix your problem?

[2018-06-24 14:36] shochdoerfer commented on #114
Since we haven't gotten any feedback on that matter, I close the issue for now.

[2018-06-24 14:36] #114 closed

[2018-06-25 05:00] Bmacuser1 commented on #117
Thanks for all your help guys. I have to mention here. The original post issue has been solved in between maybe a setting issue. But with 2.2.4 and multistore website  + vanish its not an issue there.

Lately we had only one issue to get correctly redirected after login.

Use case was we have been redirected from our wholesale website to the retail website instead of staying on the site where the

[2018-06-25 05:00] #117 closed

[2018-06-25 07:35] websharp commented on #117
Hi @Bmacuser1 ,

i dont think #122 is a correct solution, as I dont see a controlled behaviour behind the `getRedirectUrl();``call of how to redirect to a specific target if the visitor is not logged in. As I described above, your problem should be solved by simple configuring the target Url in the configuration area and override the configuration for the wholesale website. Afaik, no changes requi

[2018-06-25 13:01] Madyo commented on #38
Facing exact same issue @dhrumin44

Did someone figure out any solution?

[2018-06-25 16:15] dhrumin44 commented on #38
@Madyo still i can't figure out the issue. if you can find then please share your answer.

[2018-06-27 13:31] Madyo commented on #38
@dhrumin44 updating Amasty module "Improved Layered Navigation" solved the problem for us

[2018-06-28 23:31] Bmacuser1 commented on #117
Hi @websharp

we have done the redirect solution already. As mentioned i have tried your solution first.
123.com => customer/account/login/
123.com/ws => ws/customer/account/login/

123.com/ws is the root directory of website 2. When i enter the ULR mentioned, i get 123.com/ws/ws/customer/account/login

Did you mean something else?

[2018-06-29 06:59] websharp commented on #117
Hi @Bmacuser1 ,

thanks for the feedback and the testing.

I understood the following as your problem:

[code]

By what it is expected from the module so far:

[code]

I assumed maybe the URL components method to retrieve the base url may be resolving only `123.com` for all of your stores / websites ( [see](https://github.com/bitExpert/magento2-force-login/blob/70c63deb4c5763a07547279e74819e1fa4c3

[2018-07-01 13:51] websharp commented on #117
@Bmacuser1

you may want to test #123 if it resolves your issues.

Best regards

[2018-07-31 18:29] scottw-finao opened #124 "404 not found type response not working"
I'm not sure if this is covered somehow in the plugin, but if you enter a url that does not exist (and thus is not found) instead of redirecting to a 404 error, it redirects to the login.

e.g. a url like
https://mysite.com/some-url/that-goes/nowhere/

pops up a login before displaying the 404 error

[2018-08-01 05:38] websharp commented on #124
Hi @scottw-finao ,

maybe this is a duplicate to #83 . We need to know a little bit more about your installment environment. Which Magento version do you use? Which version of the module?
Is this may be related to a caching problem?

Best regards

[2018-08-01 07:32] websharp commented on #121
Hi @Pooofor ,

not sure, but this may related to the module customer_activation. Would be nice to know, if the Force Login Module works, if the _customer_activation_ Module is disabled.

Best regards

[2018-08-01 15:17] scottw-finao commented on #124
It may be possible. I tried already adding a 'no-route' entry with a variety of regex (/no-route static, no-route static, .*no-route.*, etc) but wasn't able to change the behavior.
It's unclear from that ticket what to try? Suggestions appreciated.

[2018-08-09 10:05] shmshrbali opened #126 "RegExp for negative lookahead"
Magento Version : CE 2.1.12

I intend to use this plugin to only block 1 page. rest are to be whitelisted. instead of going through all pages i decided to use a negative lookahead REGEX something like this:

`^((?!string).)*$`

### Expected result
/string/ only this should not be whitelisted

### Actual result
/string/ is visible without logging in

Am i doing something wrong here? or is there a s

[2018-08-09 11:27] websharp commented on #126
Hi @shmshrbali ,

thank your for the feedback. Need to look into the current implementation of the regex strategy if the lookahead is supported by the used library. Also would be best to write a unit test to cover the case.

Would be glad if you want to contribute with a pull request, will take me some time to start looking into this.

Best regards

[2018-09-06 06:47] websharp commented on #110
Hi @mikemunevar ,

thank you for your Feedback. In the current master version, the namespace is typed correctly, so maybe you read from an older installation guide? The correction was made due to Magento 2.2.x requirements upon the namespace declaration.

Did you run the following commands (in development mode)?
[code]

Best regards!

[2018-09-27 09:36] amenk opened #127 "Would be blocking use account creation in the scope of the module?"
We have an invite-only shop. Would it be in scope of the module to block also to implement such a thing:

https://magento.stackexchange.com/a/168151/81

Then I would make a pull request ...

[2018-09-27 09:37] amenk commented on #127
Actually there is already a FOSS module for this: https://github.com/deved-it/magento2-disable-customer-registration
so better leave it there?

[2018-09-27 10:11] websharp commented on #127
Hi @amenk

thanks for the feedback and the thoughts. Currently, you can remove the registration page from the whitelist, so no customer would be able to register on their own. Alternativly, you could use another module to explicitly disable registration.

Best regards

[2018-09-27 10:13] amenk commented on #127
It would be still available via API then ...

[2018-09-27 10:13] #127 closed

[2018-09-27 10:21] shochdoerfer commented on #127
@websharp do we also want to disable API calls with this module? Would that be a use case for us?

[2018-09-27 10:34] amenk commented on #127
Oh you, don't ? :D
If the use case is, that a shop catalog should be only visible via login, data should not be leaked via APIs though I think

[2018-09-27 10:35] amenk opened #128 "Make sure catalog etc. is not visible via API when not logged in"

[2018-09-27 10:35] amenk commented on #127
#128

[2018-10-04 14:30] sja87 opened #129 "Whitelist Admin Url"
How can I whitelist my adminpage URL?

I use https://www.example.com/controlcenter for my admin page

I try this:
<img width="1407" alt="bildschirmfoto 2018-10-04 um 16 29 38" src="https://user-images.githubusercontent.com/4973582/46481044-be172100-c7f2-11e8-9791-9cb6ffd33ab1.png">

[2018-10-04 15:32] websharp commented on #129
Hi @sja87 ,

do you experience a redirect on this defined url? The re-routing process is hooked into the frontend routing process, so it should not effect the backend url call.
Expectation is you are not required to define the admin url as a whitelist rule. If the redirect happens non the less, there may be a sideffect we need to cover.

Best regards!

[2018-10-12 12:01] 29sunil opened #130 "How we access home page without login."
Hello Team

I have installed this extension in Magento2.2.6. But after enable this extension website is open on the customer login page. For example when we open website URL in browser tab then it shows customers login page. But we want to show home page instead of the login page.
Errors: https://prnt.sc/l59cuj

Thanks

[2018-10-20 18:36] shochdoerfer opened #131 "Get phpstan running in Travis build"
Inspired by @asgrim's [tweet](https://twitter.com/asgrim/status/1052507745801424896): Configure the Travis build pipelines to run phpstan and fix the findings.

[2018-10-20 18:37] shochdoerfer opened #132 "Check compatibility with Magento 2.2.6"
Make sure the module is compatible with the latest 2.2.6 release.

[2018-10-20 18:45] shochdoerfer commented on #121
Since we haven't gotten any more feedback for quite a while, I'll close this issue. Feel free to open it again with more information regarding the source of the problem.

[2018-10-20 18:45] #121 closed

[2018-10-23 14:50] squeegy06 opened #133 "After Login Redirect is missing query parameters"
Query parameters are missing from the redirect URL sent after login.  We have marketing emails that are losing their tracking information because the forced login is stripping the query parameters from the URL when it sets the redirect URL.

Magento Version : 2.2.5CE
Force Login Module Version : 3.0.1

### Steps to reproduce
1. Ensure force login is enabled and that you are currently not logged in

[2018-10-24 12:48] squeegy06 commented on #133
Sure, I can write a pull request some time today.  I appreciate it!

[2018-11-12 16:43] davidwindell opened #135 "New release?"
It seems like there have been quite a few bug fixes since the last release in 2017 (v3.0.1).

Can you push out a new release for those of us not using `dev-master` in composer?

Thanks

[2018-11-12 16:52] shochdoerfer commented on #135
@davidwindell sure ;) Did not realize that the last release is *that* old. Would want to wait until we can merge #134 and then create a new release.

Thank you for not depending on `dev-master` :)

[2018-11-12 16:56] davidwindell commented on #135
Awesome thanks!

[2018-11-17 08:47] websharp commented on #132
Have checked and worked for me with current version of the module.

[2018-11-17 08:49] websharp commented on #130
Hi @29sunil

has your issue been resolved? Can the issue be closed? If you have any further issues, you could also reopen this issue again or open a new one.

Best regards!

[2018-11-17 08:50] websharp commented on #129
Hi @sja87

has your issue been resolved? Can the issue be closed? If you have any further issues, you could also reopen this issue again or open a new one.

Best regards!

[2018-11-17 08:56] #132 closed

[2018-11-17 08:57] #133 closed

[2018-11-17 09:03] websharp commented on #124
Hi @scottw-finao

does your issue still remain? Or can the issue be closed? If you have any further issues, you could also reopen this issue again or open a new one.

Best regards!

[2018-11-17 09:03] shochdoerfer commented on #135
Done ;) Marketplace will also be updated soonish.

[2018-11-17 09:03] #135 closed

[2018-11-26 07:59] shochdoerfer opened #137 "Add option to configure https redirect"
As pointed out by the Marketplace Team, the extension currently assumes that https is a given for the site the module is installed on. Even though https should be a standard these days, we should not assume that every site is actually using https. Thus we should add a store config flag to configure that SSL redirects are mandatory or not.

To be discussed: Should the "Force SSL redirects" flag be

[2019-01-09 19:34] lracicot opened #138 "Support for Magento 2.3"
Support for Magento 2.3

### Preconditions
PHP version : 7.2.13
Magento Version : 2.3 CE
Force Login Module Version : 3.1.0
Third party modules : None

### Steps to reproduce
1. `composer require bitexpert/magento2-force-customer-login`

### Expected result
1. It should install bitexpert/magento2-force-customer-login

### Actual result
[code]

[2019-01-09 21:11] shochdoerfer commented on #138
Sadly the current version is only working for 2.2, mainly due to time constraints we were not able to check if there are problems running the module with 2.3.

[2019-02-06 16:32] kevingimbel commented on #138
@shochdoerfer Is there any way we could help with testing? We tried to upgrade a Magento shop to 2.3 and this module is the only thing that blocks the update.

[2019-02-06 20:00] shochdoerfer commented on #138
@kevingimbel Currently I simply can't find the spare time to work on this, sorry. Someone started to migrate the module to 2.3 in #138 but unfortunately some tests fail due to incompatibilities of Magento 2.2 and 2.3. If you could check what needs to be changed and provide fixes, I'd be happy to review and merge them.

Thanks for using our module!

[2019-02-07 14:01] kevingimbel commented on #138
@shochdoerfer my colleague @drahreg created a pull request https://github.com/bitExpert/magento2-force-login/pull/140 based on https://github.com/bitExpert/magento2-force-login/pull/139

We fixed the tests, they were failing because because the Store Interface had changed and two methods (`getIsActive` and `setIsActive`) were missing in the mock.

If that's all that is needed can you release a new

[2019-02-07 14:06] shochdoerfer commented on #138
@kevingimbel @drahreg awesome! Thank you. Did you also test it with a real 2.3 instance? Anything noticed that did not work properly? :)

[2019-02-07 14:39] kevingimbel commented on #138
@shochdoerfer not yet, but we'll update ASAP after the release :D

Since the tests are passing and the only issue was a difference with the Interface I'd assume everything else works - Noewt in https://github.com/bitExpert/magento2-force-login/pull/139#issuecomment-455136565 also mentions that it works.

[2019-02-07 14:40] drahreg commented on #138
@shochdoerfer

No we did not. But maybe we can make a pre-release so i can upgrade Magento to 2.3 and then i could have a look if there are some problems.

[2019-02-07 14:44] shochdoerfer commented on #138
Sounds like a plan. Trying to that later today.

[2019-02-07 15:05] lracicot commented on #138
I haven't had the time to fix the tests, but my current fork works well for our use case. If someone can help fix it, would be appreciated because I'm far from being a magento expert. In the meantime @kevingimbel you may use my fork in composer, but it's a bit slower for `composer update`:

[code]

[2019-02-07 18:07] shochdoerfer commented on #138
Fixed with #139, #140.

[2019-02-07 18:07] #138 closed

[2019-02-07 18:07] shochdoerfer commented on #130
No reaction since November, closing the issue for now.

[2019-02-07 18:07] #130 closed

[2019-02-07 18:08] shochdoerfer commented on #129
No reaction since October, closing the issue for now.

[2019-02-07 18:08] #129 closed

[2019-02-07 18:08] #126 closed

[2019-02-07 18:19] shochdoerfer commented on #138
Release created. Let us know if you run into issues with Magento 2.3. And ideally provide a fix ;)

[2019-02-20 12:59] pczerkas opened #141 "Add varnish ESI urls to whitelist"
When using Varnish FPC, menu block on url /customer/account/logoutSuccess/ (which is requested by Varnish from the backend as ESI fragment) is not whitelisted by ForceCustomerLogin. Menu is blank on this url.

Please add to default whitelist in ForceCustomerLogin following Magento url:
/page_cache/block/esi/blocks/

### Preconditions

Magento Version :

Force Login Module Version :

Third party mo

[2019-02-20 17:34] shochdoerfer commented on #141
Thanks for opening this issue. Mind sending a PR with a patch for this?

[2019-02-25 13:45] michaelfigg opened #142 "Account Login Via API still redirects to customer force sign in page"
I am logging in customers through a third party portal. It uses the Magento API. Without activating the force login plugin customers can login to the website via the portal fine and will auto login the customer to the magento login page. However when I activate the plugin and my customer's login through the portal, they are redirected to the website but are forced to the login page again. I looked

[2019-02-25 14:20] shochdoerfer commented on #142
I'd assume the api urls do not need to be whitelisted. I assume that the login via API works slightly different than via storefront and thus our module is not aware that the customer is properly logged in already. Try to debug in LoginCheck:execute() what does go wrong here. I assume the following check does not work as expected:
[code]
I'd be happy to include a patch to make this work but won't f

[2019-02-25 14:43] michaelfigg commented on #142
Hey shochdoerfer,

Could I have your skype please so I could discuss with you about a patch please?

Thanks in advnce

[2019-02-26 12:10] shochdoerfer commented on #142
@michaelfigg sure, my Skype nick is bitExpert. Can't be avail today though.

[2019-03-04 20:41] magentodallas commented on #138
Can I get in on this possibly? Current Version 3.0.1 need 3.0.2
![11](https://user-images.githubusercontent.com/4370729/53761627-a3250780-3e8b-11e9-8464-2398eebbb424.JPG)

[2019-03-05 07:56] philippsander commented on #138
please execute "bin/magento setup:upgrade"

[2019-03-05 16:50] shochdoerfer commented on #142
@michaelfigg don't forget to send in your PR ;)

[2019-04-11 14:36] codelinesweb opened #152 "bitexpert_forcelogin_whitelist doesn't exist"
Version3.20 is not working

### Preconditions

Apache .4
PHP 7.2

Magento Version : 2.3.1

Force Login Module Version : 3.2.0

Third party modules :

### Steps to reproduce

1. I installed the module with the composer
2. The Backend section works except whitelist settings

### Expected result

1. FRONT PAGE ERROR
2 exception(s):
Exception #0 (Zend_Db_Statement_Exception): SQLSTATE[42S02]: Base tab

[2019-04-11 20:03] shochdoerfer commented on #152
Thank you for this bug report. Looks like the database changes have not been applied. Did you also run `bin/magento setup:upgrade`?

[2019-04-12 08:46] codelinesweb commented on #152
Yes, of course I run
 bin/magento setup:upgrade

Nothing is happening.

EM

joi, 11 apr. 2019, 23:03 Stephan Hochdörfer <notifications@github.com> a
scris:

[2019-04-12 09:17] websharp commented on #152
Hi @codelinesweb , the error message suggests the missing table `mg1i_bitexpert_forcelogin_whitelist`.
Can you check, if the table `bitexpert_forcelogin_whitelist` (without the prefix) exists?
Maybe there is an issue with a missing table name preparation in the module.

Best regards

[2019-04-12 09:32] codelinesweb commented on #152
Yes, I can check. The table bitexpert_forcelogin_whitelist exist with the prefix which Magento have set it. mg1i_bitexpert_forcelogin_whitelist. No data into table yet. EMTrimis de pe Huawei Mobile-------- Mesajul original --------Subiect: Re: [bitExpert/magento2-force-login] bitexpert_forcelogin_whitelist doesn't exist (#152)De la: websharp Către: bitExpert/magento2-force-login CC: Eugen ,Mention

[2019-04-12 10:25] codelinesweb commented on #152
Hi, The table is there. I reinstall the extension 3.2.0 version then it's OK for now. Force Login is there, whitelist rule is working. I add a new rule for Homepage like how to explain in documentation but I am able to see everything from mai website. Why? Trimis de pe Huawei Mobile-------- Mesajul original --------Subiect: Re: [bitExpert/magento2-force-login] bitexpert_forcelogin_whitelist doesn'

[2019-04-12 11:07] codewebcluj commented on #152
I followed the steps described below but nothing happens on the main page of the site. Anyone can view the page without being redirected to the login page.
----------------------------
The following example shows, how to add a whitelist entry for the homepage (startpage).
1.	Navigate to the Overview Grid and use the Add Entry button.
2.	Enter Homepage into the text field beside from the Label labe

[2019-04-13 08:03] shochdoerfer commented on #152
@codelinesweb What did you do different the second time you installed the module?

@codewebcluj Check if the module is enabled in Store > Configuration > Default Store > Customers > Customer Configuration  > Force Login > Enable Module

[2019-04-13 08:06] #131 closed

[2019-04-13 08:07] shochdoerfer commented on #124
I'll close the issue for now as there hasn't been activity for quite a while.

[2019-04-13 08:07] #124 closed

[2019-04-13 08:08] shochdoerfer commented on #142
ping @michaelfigg - still waiting for your PR. Would be great to have your use case supported by the module. What did you change to make it happen?

[2019-04-13 12:18] #137 closed

[2019-04-13 12:42] #141 closed

[2019-05-23 14:46] oobehub opened #158 ""MiBPHP Fatal error: Interface" on compile"
bin/magento setup:di:compile
Repositories code generation... 1/7 [====>-----------------------]  14% 1 sec 70.5 MiBPHP Fatal error:  Interface 'BitExpert\ForceCustomerLogin\Api\Controller\LoginCheckInterface' not found in /chroot/home/domain/domain.com/html/app/code/BitExpert/ForcedCustomerLogin/Controller/LoginCheck.php on line 31

### Preconditions
Magento 2.3
PHP 7.2.14 (cli) (built: Jan 11 201

[2019-05-23 16:59] shochdoerfer commented on #158
I think you got a typo in one the folders. In the error message the folder is named `ForcedCustomerLogin` but needs to be named `ForceCustomerLogin`. Could you please rename the folder and check if it works afterwards?

[2019-05-24 13:37] oobehub commented on #158
You are correct!  It's interesting that a module can be enabled and disabled from within an incorrectly named folder.

Thank you for the quick reply.

[2019-05-24 13:37] #158 closed

[2019-05-30 21:58] shochdoerfer commented on #142
@michaelfigg any change you could provide us a PR or at least a pointer what you did to make it work for you?

[2019-05-30 23:27] shochdoerfer commented on #152
Closing this issue due to lack of feedback. Feel free to open a new issue if problems still exist.

[2019-05-30 23:27] #152 closed

[2019-06-22 05:52] ahdee opened #162 "installation compile error"
Hi when I try
magento setup:di:compile
I'm getting this error,
[code]

I'm not sure why though.  Any clue?
thanks.

[2019-06-24 14:38] shochdoerfer commented on #162
If you downloaded the sources via Marketplace, please check that the directory in app/code is called `BitExpert` and not 'bitExpert'. Somewhere in the docs we have on Marketplace there is a typo. Sorry for any inconvenience.

[2019-06-24 14:51] ahdee commented on #162
@shochdoerfer hey thanks. I downloaded from your github source, https://github.com/bitExpert/magento2-force-login/releases/tag/v3.2.0

I named the directory "bitexpert" should I had name it "BitExpert" instead?
thanks.
A

[2019-06-24 15:00] shochdoerfer commented on #162
Ah ok, I see. Yes, the directory needs to be named "BitExpert". Unfortunately Magento modules need to start with an uppercase letter. In the initial versions of Magento 2 this was not enforced, in some later versions this was changed and we had to adapt it.

[2019-06-24 15:31] ahdee commented on #162
thank  you so much. I will try it out. FIY your readme installation has it as "bitexpert"

[2019-06-25 19:10] domino4evers opened #163 "Not force login on Second store"
Hi thanks for a great plugin!

It works 100% OK on the first store mystore.com - normally, the guests can't see any products or categories, but we have another store placed in the url mystore.dk/eur

If I make a whitelist on the /eur - ALL subpages on ALL products suddenly aren't blacklisted.

How can I fix that?

[2019-06-25 19:17] #163 closed

[2019-07-15 10:08] thelogh opened #164 "Language switch problem"
### Preconditions

Server Ubuntu 18.04 php PHP 7.2.19-0ubuntu0.18.04.1

Magento Version : CE 2.3.2

Force Login Module Version :3.2.0

Third party modules :

### Steps to reproduce

It is not possible to change the language on a Magento 2.3.2 installation with two store views, enabling the plugin and putting the url /stores/store/redirect in the white list. Selecting the language change on the log

[2019-07-16 06:53] shochdoerfer commented on #164
Thank you for the bug report. Any chance you could provide a fix for this issue?

[2019-08-06 13:25] philippsander commented on #164
can you please try also putting "/stores/store/switch" to the whitelist?

[2019-08-06 14:25] shochdoerfer commented on #164
@philippsander will this fix the problem mentioned or is this "just" an additional wish? Mind providing a PR, please? Thanks :)

[2019-08-07 07:09] philippsander commented on #164
no this is not additional wish ;-)

It might be a solution to the problem. Switching the language uses 2 routes.

[2019-08-07 09:34] shochdoerfer commented on #164
@philippsander would you be able to prepare a PR? A bit too much other stuff on my plate these days...

[2019-08-10 19:05] philippsander commented on #164
@thelogh can you verify applying this will fix your problem? then we can close the issue

[2019-08-19 16:10] shankar2004nag opened #166 "After login in shows css page"
### Preconditions

Magento Version : 2.3 C.E

Force Login Module Version : Latest

Third party modules :

### Steps to reproduce

1.
2.
3.

### Expected result

1.

### Actual result

1. [Screenshot, logs]

[2019-08-19 16:50] DanielRuf commented on #166
Hi @shankar2004nag,

thanks for reporting this.
Can you provide the steps to reproduce it, add a screenshot and check the console of the developer tools in your browser for bugs?

Did you also clear all caches?

[2019-08-19 17:03] shankar2004nag commented on #166
yes, i had cleared cache.
Setup upgrade
di:compile
c:f

[2019-08-19 20:29] DanielRuf commented on #166
I can not reproduce it using the following steps:

[code]

apply https://github.com/magento/magento2/issues/23405#issuecomment-511786112

[code]

follow https://github.com/bitExpert/magento2-force-login/blob/master/docs/UserGuide.pdf

See https://magento-2-3-2.daniel-ruf.de

[2019-08-20 06:35] shochdoerfer commented on #166
@shankar2004nag how did you install the module? Did you use the version from Marketplace or did you use Composer to install it? The version in Marketplace does not yet support 2.3, you should not be able to install if I would think.

If you follow the steps outlined by @DanielRuf the installation should work as intended.

[2019-08-22 20:14] #164 closed

[2019-08-22 20:16] #162 closed

[2019-08-23 11:44] shankar2004nag commented on #166
I had installed the module code available in Github.

[2019-08-31 21:44] shochdoerfer commented on #166
@shankar2004nag so you downloaded the code and placed it manually into your project? Could you describe what you have done so that we can get a better understanding? Thank you.

[2019-09-03 06:41] shankar2004nag commented on #166
Created folder
BitExpert / ForceCustomerLogin
Dumped all the folders and files within it.
Executed upgrade and di:compile command

[2019-09-04 12:54] thelogh commented on #164
Then with the last update Merge pull request #165 I saw that it adds statically using Static /stores/store/switch and /stores/store/redirect NOT working.
But putting  /stores/store/switch and /stores/store/redirect in RegEx (All), works all fine.

[2019-09-04 13:08] thelogh opened #167 "Password Reset not working"
### Preconditions

Magento Version :CE 2.3.2

Force Login Module Version :3.2.0

Third party modules :

### Steps to reproduce

1.Request a password reset, click on the password reset link
xxx.com/it/customer/account/createPassword/?token=XXXXXXXXXXXX
2.
3.

### Expected result

1. After clicking on the link, the reset page should appear
xxx.com/it/customer/account/createpassword/

### Actual resu

[2019-09-04 15:19] DanielRuf commented on #167
Hi @thelogh,

thanks for reporting this.
We will check this.

[2019-10-01 08:28] raulsinapsis opened #168 "URI is not valid and cannot be converted into a string"
Details explained here https://magento.stackexchange.com/questions/291320/magento2-uri-is-not-valid-and-cannot-be-converted-into-a-string

Magento 2.3.2

Error message: **URI is not valid and cannot be converted into a string**

Trace

    #0 \MAGENTO_ROOT/vendor\/zendframework\/zend-http\/src\/Header\/AbstractLocation.php(102): Zend\\Uri\\Uri->toString()\n
    #1 \MAGENTO_ROOT/vendor\/zendframewo

[2019-10-01 10:05] shochdoerfer commented on #168
Thanks for the bug report. Any chance you can figure out which page the user was on before trying to logging in?

I'd assume you could disable the plugin but then redirects to the page the user was before won't work anymore. If that's fine for you, go ahead. As an alternative wrap that code in a try/catch block, log the exception and the URL and redirect the user to `$this->defaultTargetUrl`. Sinc

[2019-10-01 11:25] websharp commented on #168
@raulsinapsis Did you change the configuration (target url) in the following setting section?

https://github.com/bitExpert/magento2-force-login/blob/master/resources/ui_step_00.png

[2019-10-09 10:20] gewaechshaus commented on #142
@shochdoerfer  - Hallo Stephan,

we have the same problem... Any news related to this?

Viele Grüße
Jan

[2019-10-09 10:38] gewaechshaus commented on #142
$this->_logger->info('BitExpert LoginCheck');
        $this->_logger->info($this->customerSession->isLoggedIn());
        $this->_logger->info($this->customerSession instanceof \Magento\Customer\Model\Session);

=
[2019-10-09 10:38:02] main.INFO: BitExpert LoginCheck [] []
[2019-10-09 10:38:02] main.INFO:  [] []
[2019-10-09 10:38:02] main.INFO: 1 [] []

[2019-10-09 15:45] shochdoerfer commented on #142
@gewaechshaus did not yet find the time to dive into this. Happy to accept PR's if you found a good way to fix this.

[2019-10-09 18:16] gewaechshaus commented on #142
@shochdoerfer - maybe it would make sense to dispatch a custom event?

[2019-10-09 20:56] gewaechshaus commented on #142
I found a way to handle this with login as customer module.
I inserted at https://github.com/bitExpert/magento2-force-login/blob/5c09aa1b0ca9587aca41c2d94c2f02ec2b44bb41/Controller/LoginCheck.php#L160

       $afterLoginReferer = $this->session->getData()['after_login_referer'];

        if (strpos($afterLoginReferer, 'loginascustomer') !== false) {
            return false;
        }

This should

[2019-10-15 18:15] oobehub opened #169 "Use with a SAML extention"
This is not an issue.  I'm trying to reach out to the developer about getting this to work with a saml module we are using.  We seem to be able to login with SAML when the module is turned off, but when we enable the module we get an "Invalid Form Key" error on the login page.  I assume there is a path i need to whitelist, and probably more customization than that to get this to work.  Any help is

[2019-10-15 18:27] websharp commented on #169
Hi @oobehub ,

I cross-searched for this message just a bit upfront, so the suggestion I found in general for this isto set PHP setting `max_input_vars` to a higher value like 10000 (in php.ini or .user.ini file).

Can you try and give feedback if this helps?

Best regards!

[2019-10-15 18:39] oobehub commented on #169
@websharp  hey!  that was quick. I just requested that the value be increased.  I will report back later today when the host gets back to me.

Thanks!

[2019-10-15 19:23] oobehub commented on #169
@websharp max_input_vars are 16384.  This was their original setting.  I bumped up to 20000 but saw the same result.

[2019-10-15 20:05] DanielRuf commented on #169
Can you check where the error is thrown and provide some more information from the stacktrace?

[2019-10-15 21:00] oobehub commented on #169
We don't seem to get a stack trace.  We see it on the customer login page right after the customer is directed back to us from the identity provider.  or when the customer is directed to us directly from the identity provider.
<img width="456" alt="Screen Shot 2019-10-14 at 8 44 39 AM" src="https://user-images.githubusercontent.com/47894571/66869197-d6c12780-ef6c-11e9-919a-223d9a00f9e2.png">

I ha

[2019-10-15 21:04] DanielRuf commented on #169
I guess it is https://github.com/magento/magento2/blob/2.3.1/lib/internal/Magento/Framework/App/Request/CsrfValidator.php#L99

And there is also an exception object, see https://github.com/magento/magento2/blob/2.3.1/lib/internal/Magento/Framework/App/Request/CsrfValidator.php#L101

[2019-10-15 21:05] DanielRuf commented on #169
I guess it is https://github.com/magento/magento2/blob/2.3.1/lib/internal/Magento/Framework/App/Request/CsrfValidator.php#L99

And there is also an exception object, see https://github.com/magento/magento2/blob/2.3.1/lib/internal/Magento/Framework/App/Request/CsrfValidator.php#L101

Or https://github.com/magento/magento2/blob/2.3.1/app/code/Magento/Customer/Controller/Account/LoginPost.php#L153

[2019-10-15 21:05] DanielRuf commented on #169
Can you check from where the message is coming?

[2019-10-15 21:06] oobehub commented on #169
oh! I will force a few more logins and try to get the exception.  I will also find out where it is coming from.  Thank You.

[2019-10-18 16:28] oobehub commented on #169
The only thing i can get from any log or report is this:
main.DEBUG: Request validation failed for action "Magento\Framework\App\Action\Redirect\Interceptor" [] []

This is from my debug.log with all error reporting turned on and the site in developer mode.

[2019-10-18 17:38] oobehub commented on #169
We whitelisted all SSO urls and it's now working.  I'm working my way back through the urls to see which ones i can take off the whitelist.  Specifically it seems the ACS url needs to be whitelisted.

[2019-10-18 17:38] #169 closed

[2019-10-19 01:52] shochdoerfer commented on #169
@oobehub thanks for the info. Once you have the list, might want to document here so that we can point other users to that list? Would be cool to have a common list of whitelist urls for different modules.

[2019-10-23 13:19] RameshJhajharia opened #170 "Doesn't work when caching is on"
Login doesn't enforced when full page caching is on. Not working on production environment.
### Preconditions

Enable full page cache.

Magento Version : CE 2.3.2

Force Login Module Version :
3.0.6

Third party modules :

### Steps to reproduce

1. Deploy and enable force login on production
2. Load the page first time and it will work perfectly
3. Now load the same URL on another device or incog

[2019-10-23 13:55] websharp commented on #170
Hi @RameshJhajharia ,

You may want to test with the current version 3.2.0, which officially supports Magento 2.3.
See also: https://github.com/bitExpert/magento2-force-login/releases/tag/v3.2.0

Best regards

[2019-10-26 10:19] mirsch opened #171 "Add PHP 7.3 to version requirement in composer.json"
### Preconditions
PHP 7.3

Magento Version : 2.3.3

Force Login Module Version : 3.2.0

### Steps to reproduce
actually you have to use `composer require bitexpert/magento2-force-customer-login --ignore-platform-reqs` to install the Module if you have PHP 7.3 installed
The Module runs fine using PHP 7.3, please add it to PHP Version requirement in composer.json

[2019-10-26 10:36] DanielRuf commented on #171
Hi @mirsch,

Thanks for the feedback that it works on PHP 7.3.

Can and do you want to provide a PR for https://github.com/bitExpert/magento2-force-login/blob/master/.travis.yml and https://github.com/bitExpert/magento2-force-login/blob/master/composer.json?

That would be really cool =)

[2019-10-31 07:39] #171 closed

[2019-10-31 07:41] shochdoerfer commented on #170
@RameshJhajharia did you try to use the latest version? Does it still not work? Do you only have FPC enabled or also Varnish in front of Magento?

[2019-11-01 07:51] RameshJhajharia commented on #170
@shochdoerfer I didn't try it with the latest version, for now, I found a workaround using the cookies and apache2 configurations. I will try it with latest version in a few days.
I was not using Varnish.

[2019-11-01 08:45] shochdoerfer commented on #170
Thanks for the update. I'll close the issue for now. If you run into more problems, feel free to open a new issue.

[2019-11-01 08:45] #170 closed

[2019-11-01 08:47] shochdoerfer commented on #168
@raulsinapsis were you able to figure out what causes the problem? Are you able to log the what value $targetUrl has when this happens?

[2019-11-14 08:04] HausE13 commented on #167
Hello @DanielRuf
Is there something new on this Issue?

Would like to use the extension on a customer project, but this is a big problem. This problem also appears, when a new customer is created and recieves the mail to set the account password.

Thank you in advance :)

[2019-11-18 12:22] tscole commented on #167
I am also being affected by this issue. Is there any eta on a fix?

[2019-11-18 16:34] shochdoerfer commented on #167
@HausE13 could you please check if the rule for `/customer/account/createPassword` is using the regex strategy?

[2019-11-19 01:43] mwoertler commented on #167
I am having the same issue with module version 4.0.0 ... `/customer/account/createPassword` is using regex (all) strategy.

[2019-11-19 07:55] shochdoerfer commented on #167
Maybe the RegexMatcher has some issues with the Get Parameter passed. @mwoertler @HausE13 are you able to debug this? Currently lacking a bit of time to tackle the issue but happy to merge any PR to fix this issue.

[2019-11-20 10:52] HausE13 commented on #167
Unfortunately I did not have that much time to fix it but maybe I found something...

In BitExpert\ForceCustomerLogin\Controller\LoginCheck there is this if-Statement on Line 149:
[code]
When I looked at the values, when this statement was true, the dumps showed this:

Value of $path is '/customer/account/createPassword/' but $rule looks like in the screenshot.

![screenshot_path_rule](https://use

[2019-11-20 11:36] websharp commented on #167
@HausE13 You should be able to help yourself out by configuring the `/customer/account/create` and the `/customer/account/createPassword/` each both of them as **static** rules instead of the regex-approach.

[2019-11-20 11:44] shochdoerfer commented on #167
@HausE13 Or change the order of the rules, that might also help IIRC. I guess the first rule is too generic and matches. Will check this later.

[2019-11-20 12:03] tscole commented on #167
Changing rule to static does not appear to have any effect on my installation.

[2019-11-20 16:14] HausE13 commented on #167
@websharp Changed these two Rules to static and also the  ```/customer/account/``` rule (and in a further step all rules that contain "customer/account") , but got the same result.

[2019-11-21 09:54] websharp commented on #167
@tscole @HausE13
It seems that the `CreatePassword` Controller Class of the Magento Module `Customer` provokes this indefinitly loop though setting the redirect path to the same Url when called directly with the Token parameter, instead of an exit page. See also `Magento\Customer\Controller\Account\CreatePassword` in line 89 (Magento 2.3.3).

I extended the unit tests for the regex matcher, but it

[2019-11-22 14:36] tscole commented on #167
@websharp the fix appears to work for password resets requested on the front end but not those requested on the backend. From what I can see there are parameter differences. Links generated by a front end request have ?token=XXX where as those generated in admin have ?id=YYY&token=XXX

[2019-12-12 15:32] mischabraam commented on #167
@tscole and @websharp the solution in PR #177 works if you alter the regex constant in the `PasswordResetHelper` to the following.

`const CREATE_PASSWORD_DIRECT_URL_SCHEME = '/customer/account/createpassword/\?.*token=';`

[2019-12-14 17:29] daniel-ifrim commented on #167
Magento 2.3.2.
I had infinite redirects in createpassword action too.
Fixed it after some time by moving in class
`vendor/bitexpert/magento2-force-customer-login/Controller/LoginCheck.php`

[code]

after whitelist test:
[code]
Don't know of any side effects.
I don't understand why anything must be set if the current action is a whitelisted action.

[2019-12-14 17:33] daniel-ifrim commented on #167
This is not related to this issue.
Shouldn't all AJAX requests be whitelisted ?
Like section data requests and not only.

I have this in `BitExpert\ForceCustomerLogin\Controller\LoginCheck::execute()`
affter is module enable test.
[code]

[2019-12-15 10:11] websharp commented on #167
@mischabraam Thank you for your feedback, I added it to the PR.

@daniel-ifrim I am not sure I can follow what issue you have. Maybe open a separate issue for your topic?

[2019-12-16 18:26] #167 closed

[2019-12-16 18:27] shochdoerfer commented on #167
@daniel-ifrim could you please check if the version in master branch is also working for you?

[2019-12-16 18:28] daniel-ifrim commented on #167
Ok, will try now. Thank you

[2019-12-16 18:44] daniel-ifrim commented on #167
@shochdoerfer It worked.
Tested Magento 2.3.2:
- with existing customer account clicked on 'Reset Password' button. Clicked on email link and visted successfully on `customer/account/createpassword/` action. I set a password and than logged in successfully.
- with account created from admin. Did the same as above and it worked.

Thank you

[2019-12-16 20:32] shochdoerfer commented on #167
Thank you @mischabraam, @websharp & @daniel-ifrim for helping with this. I just have created version 4.0.1 of the package. Should be installable via Composer soonish.

[2019-12-16 20:33] shochdoerfer commented on #168
@raulsinapsis any update on that matter?

[2019-12-18 10:47] jankovandeventer opened #178 "Can not create new password on Magento 2.3.3"
### Preconditions

Magento 2.3.3
"bitexpert/magento2-force-customer-login": "^4.0",

Magento Version :
Open Source (CE)

Force Login Module Version : 4.0

Third party modules:
Not a single one that interferes with his process

### Steps to reproduce

1. Install and enable bitexpert
2. Request a new password
3. Click on the create new password link in the email

### Expected result

1. Go to create

[2019-12-18 10:53] websharp commented on #178
Hi @jankovandeventer ,

did you try and use the new [4.0.1 release](https://github.com/bitExpert/magento2-force-login/releases/tag/v4.0.1) which addresses the issue with the password creation?

Best regards

[2019-12-18 11:00] jankovandeventer commented on #178
Hello, must have just missed this release. Will try that.

[2019-12-27 17:22] manuelcanepa commented on #178
Maybe `magento/magento-coding-standard` is the problem. I have `magento/magento-coding-standard:~3.0.0` in my composer and `bitexpert/magento2-force-customer-login` was installed on version 4.0.0

[2019-12-27 17:24] manuelcanepa commented on #178
My bad, Packagist is not updated https://packagist.org/packages/bitexpert/magento2-force-customer-login

[2019-12-27 17:38] DanielRuf commented on #178
https://github.com/bitExpert/magento2-force-login/blob/master/composer.json#L5

cc @shochdoerfer

[2019-12-27 17:41] DanielRuf commented on #178
See also https://github.com/bitExpert/magento2-force-login/commit/350b32c7d636990f23d0df296259e47768e111ea vs https://github.com/bitExpert/magento2-force-login/commit/e1485c471ec5e802bcc0d72e8ba3cc270bde78d0

[2019-12-27 17:42] DanielRuf commented on #178
In the meantime you can try the Git URL or `dev-master`.

[2019-12-27 18:51] shochdoerfer commented on #178
@manuelcanepa my bad, I forgot to update the version information in composer.json. I just released a new version 4.0.2 which is already available via Packagist.

[2020-02-18 18:33] mastrip2 opened #180 "Customers get whoops.... after registering"
Has anyone had any issues with customers getting the "whoops, our bad..." page not found error after registering for a account? It seems like the redirect that is done by default from magento isnt executing when the extension is enabled. If I turn it off the registering works.

Magento ver. 2.3.3 CE
Force Login Module Version : 4.0.2
Third party modules :
Magezon_PageBuilder
Mageplaza_CustomerAppr

[2020-03-14 22:08] beltoftandersen commented on #180
Getting the same on 2.3.4, which the 4.0.2.

<img width="1161" alt="Skærmbillede 2020-03-14 kl  23 06 21" src="https://user-images.githubusercontent.com/43896943/76691189-99121900-6648-11ea-9383-ac303ea03fdd.png">

Error url: /customer/account/createpost/

[2020-03-15 00:36] mastrip2 commented on #180
I had used the code from #178 as a reference of code to specifically target the registration url and ignore it. Its probably a better way of fixing this issue but I was under alot of pressure to quickly fix the issue. I'll try and find it and post it here as a fix

[2020-03-18 12:20] beltoftandersen commented on #180
Can you provide a more detailed description/guide on how you solved the issue?

Much appreciated!

[2020-03-22 17:24] nelero opened #181 "multistore / subfolder / redirect to root"
Hi,
if you have multistore configuration, with a website configurated in subfolder, multiples problems occured :
- homepage is in whitelist with rule by default (regex) on all websites. But visiting homepage for website configurated in subfolder redirect to its customer/account/login page.
=> Should not force login as homepage is authorized.
=> to fix this, we have to re-add another entry with the

[2020-03-22 17:28] nelero opened #182 "Module not enabled but redirect to homepage"
If we choose enabled NO on admin, having errors login in redirect visitor to homepage instead of staying on customer/account/login page

Steps to reproduce :
enable module via SSH
choose NO on backend config for enabled option
going to /customer/account/login
email : nonexistantmail@nowhere.com
password : anything

expected results :
- error message on customer/account/login

Actual results :
- vi

[2020-03-22 17:34] nelero opened #183 "[improve] Add field on CMS pages to authorize them to not force login"
For us, module is used to prevent catalog access (categories pages, products pages, searches, cart) for not logged in users.
All pages allowed are :
- homepage
- account pages (login, passwordreset, create,...)
- all cms pages

But everytime we add a CMS page, we need to add its url in the whitelist.
We have more than 100 pages in CMS pages and they are not having a specific word in their url.
So

[2020-03-22 17:37] nelero commented on #183
And we should have some options to whitelist or "force login" type of pages instead of urls : Magento knows the type of the page visited (home, cms, product, category, search results, cart)
so we could have a flexible way to isolate specific type of pages even they don't have a common element in their url.

Thanks

[2020-04-14 14:11] shochdoerfer commented on #180
@mastrip2 can you provide us some code how to fix the issue?

[2020-04-14 14:12] #178 closed

[2020-04-14 14:12] shochdoerfer commented on #181
@nelero thanks for your first bug report. Mind providing a PR to fix this issue?

[2020-04-14 14:13] shochdoerfer commented on #182
@nelero thanks for reporting this issue. Any chance you could provide a PR to fix this issue?

[2020-04-14 14:15] shochdoerfer commented on #183
Thanks for this idea. It might make sense to add a feature like this. When we started developing this module a few years back we had only merchants with just a few pages.

[2020-04-14 16:25] mastrip2 commented on #180
I downloaded the [Batao.zip](https://github.com/bitExpert/magento2-force-login/files/3977952/Batao.zip) code from issue #178 . Then I browsed to the Plugin/Frontend/BitExpert/ForceCustomerLogin/Controller and edited the LoginCheck.php file. Inside the afterExcute function I added a way to check the current url and see if it was the url I observed to be for creating users. If it was I overrode the

[2020-04-14 18:43] websharp commented on #180
@shochdoerfer @mastrip2 I can add an extended solution as provided for the password reset handling we recently fixed (see https://github.com/bitExpert/magento2-force-login/blob/master/Controller/LoginCheck.php#L148 and https://github.com/bitExpert/magento2-force-login/blob/master/Controller/PasswordResetHelper.php). Maybe some hook / event to loosely couple the logic and allow customized logic to

[2020-04-14 21:40] shochdoerfer commented on #180
@websharp sure, if you have the time to take a look, go ahead. Not sure if we need to make the logic customizable.

[2020-04-15 14:45] chackem opened #184 "Homepage Redirect After Login Leads To incorrect url"
When I have your plugin enabled using a store with force log in set,
after I successfully login in it takes me to:

"[store]/customer/section/load/?sections=cart&force_new_section_timestamp=false&_=1586875817856"

instead of to the homepage.

For stores without forced login enabled there is no problem and I am
redirected to the homepage on login.

Once I have logged in and it takes me to the wrong

[2020-04-17 16:30] chackem commented on #184
Any ideas? Anyone?

[2020-04-30 12:02] darpanpatel2018 opened #185 "table or view not found"
SQLSTATE[42S02]: Base table or view not found: 1146 Table 'm2.bitexpert_forcelogin_whitelist' doesn't exist, query was: INSERT  INTO `bitexpert_forcelogin_whitelist` (`store_id`,`label`,`url_rule`,`editable`,`strategy`) VALUES (?, ?, ?, ?, ?)

[2020-05-27 19:16] niekappartmedia commented on #180
This issue is still a thing, after registration we get redirect to createpost url as a GET.
Thats resulting in a 404. The fix above does not quite work how can we redirect back to the login and not de previous url.

[2020-05-27 20:39] mastrip2 commented on #180
You could redirect to the `customer/account/login` just change the set redirect function (code above)

[2020-06-01 09:25] jgcabanas commented on #185
I have the same issue. Did you solve it ?

[2020-06-01 09:39] jgcabanas commented on #185
Hi, I solved it. My first install (made by downloading the module with gitHub)  failed, but wrote an entry in  the "setup_module" table. Removing it , and doing another setup:upgrade solved the issue. Good luck :)

[2020-06-02 15:49] mustafaeyvazvaimo commented on #184
I have a similar situation after a successful registration it takes me to customer/account/createpost

[2020-06-02 15:51] mustafaeyvazvaimo commented on #180
Same here

[2020-06-16 10:07] mattyl commented on #184
I have noticied this too - it seems to go away after a while , also when i changed to stop redirecting to dashboard. You get presented with a json type response instead of the page.
I am also struggling to whitelist the home page - mysite is in a subfolder. I was forced to put the home page content into a static block and modify the customer_account_login.xml layout to include the block under the

[2020-06-16 10:07] mattyl commented on #184
Sorry using php 7.2 and magento 2.3.5

[2020-06-19 14:05] SplendidGoT commented on #182
Same problem here with a clean install on Magento 2.3.2.

[2020-06-24 20:49] websharp commented on #180
@shochdoerfer Sorry for the delay, I provided the suggested fix in #186

[2020-06-25 15:32] bigshug commented on #184
same here on Magento 2.3.5.  Seems pretty random - sometimes it's ok and if you go back the customer is signed in.

Was getting another error with Use Web Server Rewrites turned off

[2020-06-25 20:54] websharp commented on #166
@shochdoerfer Added a fix for this in #187

[2020-06-29 15:39] mattyl opened #188 "Paypal Ipn"
Could this be blocking paypal IPN?

my paypal express works fine but paypal pro doesn't and i am seeing 301 redirects in the logs

[2020-06-29 18:33] websharp commented on #188
@mattyl hm, potentially yeah, but you may be able to add a suitable rule based on RegEx to whitelist those calls from paypal.

[2020-07-02 17:54] mattyl commented on #188
yep whitelisting

/paypal/ipn/

seems to do the trick - for those that follow

[2020-07-15 21:05] jschreck commented on #184
I've just come across this as well. it happens when in the Stores > Customers > Customer Configuration > Login Options you set it to **Redirect Customer to Account Dashboard after Logging in** = Yes.

[2020-07-19 14:59] bigshug commented on #184
Good spot!!  :o)  I've been using my site quite a lot and it the login seems to work fine now that I redirect to the home page.

I'm glad it's working as it's a good extension.

[2020-07-22 17:49] #166 closed

[2020-08-10 10:11] bernarddelhez opened #190 "Not compatible with Magento 2.4.0 Commerce"
### Preconditions

PHP Version : 7.3.10

Magento Version : 2.4.0

Force Login Module Version : v4.0.2

Third party modules : not relevant for the problem

### Steps to reproduce

1. update the Magento version in the composer.json to `"magento/product-enterprise-edition": "2.4.0"`
2. `composer update`

I think there is the same problem for the Magento 2.4.0 Open Source version

### Expected result

[2020-08-10 10:45] shochdoerfer commented on #190
Hey @bernarddelhez thanks for raising the issue. And thanks for your first issue in this repo :)

Mind providing a PR to fix it? Would be fine for me if the next major release would only be compatible with Magento 2.4. That would reduce maintenance effort.

[2020-08-10 10:46] shochdoerfer commented on #190
You are right both Magento versions are affected as we did not find the time to upgrade the module to work with 2.4. Might "just" be the Composer issue, could potentially be more to fix.

[2020-08-10 12:34] bernarddelhez commented on #190
@shochdoerfer here is the PR https://github.com/bitExpert/magento2-force-login/pull/191

[2020-08-12 16:26] dmcmillin commented on #190
even if you change the dependency issue via composer, on 2.4.0 it says too many redirects. Just a heads up.

[2020-08-24 07:32] mattyl commented on #188
ok done!

[2020-09-10 06:24] haxim0r opened #194 "incompatible with community Edition 2.4.0"
Due to magento framework 102 requirement which breaks Magento Upgrade from 2.3 to 2.4. 2.4 requires magento framework 103.*

[2020-09-10 06:56] shochdoerfer commented on #194
Duplicate of #190. There's already a PR open, see #191 - just could not yet find the time to test and merge ;(

[2020-09-10 06:56] #194 closed

[2020-09-22 07:22] tzyganu opened #195 "Call to undefined method setUrl on Forward class"
### Preconditions
1. Magento Commerce version 2.3.3 (I think it reproduces on Open Source)
2. Module version 4.0.0
3. Value for `customer/startup/redirect_dashboard` config setting is 0.

### Steps to reproduce
1. Be logged out
2. Add a product to wishlist
3. I get redirected to login
4. I login using the right credentials

### Expected result
1. I am logged in
2. My product is added to the wishli

[2020-09-23 11:54] davidwindell commented on #180
`master` still 404's for us

[2020-09-24 20:25] shochdoerfer commented on #195
Thanks for raising this issue. We'll have a look as soon as we can. @websharp maybe you have an opinion on this matter :)

[2020-10-12 13:37] arnoudhgz commented on #190
@bernarddelhez did you check the comment above against your PR? Did you have the redirect issues that @dmcmillin mentioned?

[2020-10-19 09:05] bernarddelhez commented on #190
@arnoudhgz I also had the problem with "too many redirects" and I changed the following config
`bin/magento config:set customer/startup/redirect_dashboard 0`
This configuration change works on a Magento Commerce 2.4.0 live system.
I did not look deeper in the code to find the reason but it works.

[2020-10-19 09:33] websharp commented on #195
@shochdoerfer I can have a look, and think of the workflow if it not just a Redirect directive. Thank you @tzyganu for reporting.

[2020-10-20 12:34] maurixxxx commented on #181
Hi i got the same problem, did you find a solution??

[2020-10-21 08:51] websharp commented on #195
@tzyganu I added your provided solution to the master, would you mind to check, if this works for you?

[2020-10-21 08:52] websharp commented on #190
@bernarddelhezI we added some fixes to the master, do you mind testing your issue, if everything works fine now or report any new issue occured?

[2020-10-21 08:53] websharp commented on #184
@chackem we added some fixes to the master, do you mind testing your issue, if everything works fine now or report any new issue occured?

[2020-10-21 08:54] websharp commented on #180
@mastrip2 @mustafaeyvazvaimo @davidwindell we added some fixes to the master, do you mind testing your issue, if everything works fine now or report any new issue occured?

[2020-10-21 08:55] websharp commented on #185
@jgcabanas Closing this issue for now, but if the issue remains occuring, feel free to (re-)open an issue

[2020-10-21 08:55] #185 closed

[2020-10-21 08:55] websharp commented on #182
@nelero @SplendidGoT we added some fixes to the master, do you mind testing your issue, if everything works fine now or report any new issue occured?

[2020-10-21 08:57] websharp commented on #168
@raulsinapsis Closing this issue for now, Feel free to (re)open the issue, if the problem remains

[2020-10-21 08:57] #168 closed

[2020-10-21 09:35] websharp commented on #181
@nelero Latest version was latest "stable" version, or dev-master? @nelero @maurixxxx we added some fixes to the master, do you mind testing your issue, if everything works fine now or report any (new) issue occuring?

[2020-10-21 12:20] bybilvanis commented on #180
Seems ok to me. Thanks for the update.

[2020-10-21 12:26] mustafaeyvazvaimo commented on #180
Seems ok to me. Thanks for the update.

[2020-10-21 15:17] #180 closed

[2020-10-22 13:38] maurixxxx commented on #181
I'll try it

[2020-10-22 16:21] maurixxxx commented on #181
I did the upgrade to the 4.1.0 version but it doesn't fix the issue. After login customer is redirect to the main domain.

[2020-10-22 16:22] maurixxxx commented on #181
and if i disable the module everything goes right.

[2020-10-22 21:32] tzyganu commented on #195
@websharp thanks for the fix. Will try it as soon as possible

[2020-10-26 08:32] aholovan commented on #184
Hi, We've got the same issue after extension update on 2.3.5. Error accours when brouser has some legacy caches from previous Magento (no any error in incognito).
And it exists even if we disable AfterLoginPlugin because looks like this is core Magento bug. See https://github.com/magento/magento2/issues/28428
Quick solution to fix the problem is just disable 'Redirect Customer to Account Dashboard

[2020-10-30 09:29] xanka opened #199 "white list missing Admin Uri"
### Preconditions

Magento Version : CE 2.3.6 (tested) but I think this issue still in all version

Force Login Module Version : 4.1.0

Third party modules : None

### Steps to reproduce

1. composer require bitexpert/magento2-force-customer-login
2. php bin/magento module:enable BitExpert_ForceCustomerLogin
3. php bin/magento setup:upgrade
4. Enable module in Store -> Configuration -> CUSTOMERS -

[2020-10-30 09:31] xanka commented on #199
I think we should add admin URI link into WhiteLis via UpgradeData.php

[2020-10-30 10:56] websharp commented on #199
@xanka Hm that is wierd and we should investigate. The component to reroute is actually only in the frontend DI, so it should not redirect in the admin area.

https://github.com/bitExpert/magento2-force-login/blob/master/etc/frontend/di.xml

[2020-11-03 04:46] xanka commented on #199
@websharp yes so weird, Then I am installed this module I cannt access magento admin uri. I tested yet in Magento 2.3.6 only access admin uri then add its into whitelist via database

[2020-11-05 16:55] thelogh opened #200 "Secondary view problem redirect"
### Preconditions

Magento Version : MAGENTO 2.3.5-P2 CE

Force Login Module Version : 4.1

Third party modules :

### Steps to reproduce

1.the default sore is www.example.com/it
i switch to another view www.example.com/en from the menu
when reload the page  http://www.example.com/en, the page redirect to http://www.example.com/en/en/customer/account/login give the error "The page you requested w

[2020-11-06 08:26] websharp commented on #200
Hi @thelogh thanks for the issue. Can you please check the configuration of the module's "target url" for your storeview and give us feedback to that?

[2020-11-30 10:57] gewaechshaus commented on #184
Hey,

same here in a 2.3.3 version... The quick solution(disable redirect to customer account dashboard) doesn't help in this case.

Cheers,
Jan

[2020-12-03 23:32] nenriquez commented on #181
In my opinion the problem is the [AfterLoginPlugin](https://github.com/bitExpert/magento2-force-login/blob/release/r4.0.0/Plugin/AfterLoginPlugin.php#L79), a part of code is:

[code]

If `Redirect Customer to Account Dashboard after Logging in` is NO then targetUrl allway is empty. For that  defaultTargetUrl is used as final url. As you can see in [di.xml](https://github.com/bitExpert/magento2-for

[2020-12-10 16:22] Latitude1969 opened #201 "Cannot get past /customer/account/loginPost/ when Redirect Customer to Account Dashboard after Logging in is set to "Yes""
Magento Version : CE 4.2.1

Force Login Module Version : Release version 4.1.0

When the Force Login Module is turned on I'm not able to redirect customers to their Account Dashboard.

I get a 404 Error on the hhtp://example.com/customer/account/loginPost/  URL.

I have tried to create a whitelist for aal stores on URL:

/customer/account/loginPost/*

Which does not seem to work.

Could you please

[2021-01-26 16:26] danielpfarmer commented on #184
Hey All,

If you're stuck with this... you need to make the change to customer-data.js from this PR:

https://github.com/magento/magento2/pull/29081/files#diff-505571b5dff3524c909c283778bf3d9b63338ae15de2eb3dce8850107fba49dcL81

[2021-03-05 18:19] taskula commented on #182
The issue still stands. I noticed this in 3.1.0 and updated to 4.1.0 and the issue is still there. If you disable the plugin altogether, everything works as expected.

Additionally, if your login is successful, your customers will always get redirected to the store main page which is bad if you want to redirect your customers back to the page they clicked login at.

[2021-04-02 09:35] denialdesign commented on #184
I am also seeing the Json response when logging in.
Magento Open Source 2.3.4 using a multistore set up. Log in works fine on one site with the extension off but on the login protected site I see  json code. I've tried with "Redirect Customer to Account Dashboard after Logging in" on and off for the store view and both give the same result.
https://www.sacportal.co.uk/

[2021-04-21 18:13] fsspencer commented on #184
The issue is on the following file: Controller/LoginCheck.php
After the customer logs in, Magento performs a call to the customer/section/load controller. This one is being captured by this LoginCheck class, and it is being used as the referrer. That is why it is redirecting to this page returning that JSON.

Here is the patch that I wrote to fix the issue.

[code]

[2021-08-03 18:47] joeybab3 commented on #180
I am still getting this issue in 4.1.0 unfortunately, any ideas why this may be?

[2021-08-03 18:52] joeybab3 opened #207 "404 present in #180 still present in 4.1.0"
I have the latest version (4.1.0) on Magento 2.4.1 and for some reason, I am still experiencing the issues mentioned in #180.
When registering, I get a 404 but the success message is shown on the 404 pages.

[2021-08-20 05:55] visahardik commented on #207
Yes, I am facing the same issue with 4.1.0 and M2.4.2.

[2021-09-06 15:06] Echron commented on #184
@fsspencer Is your patch correctly working? Looks like your merge requests isn't accepted yet. Need any help? Currently having the same issue but I'm not 100% sure this fix will work in all cases as there might be more URL you need to ignore than 'customer/section/load'

[2021-09-13 11:11] emrahuyanik commented on #184
\BitExpert\ForceCustomerLogin\Plugin\AfterLoginPlugin::afterExecute

[code]

As we can see from above, module is redirecting customer to getAfterLoginReferer after login.
But for self::REDIRECT_DASHBOARD_ENABLED case, magento OOTB is working.

\Magento\Customer\Model\Account\Redirect::prepareRedirectUrl

[code]

In above, we can see if getAfterAuthUrl is null, we will use beforeAuthUrl as afterAut

[2022-01-28 09:26] gkopec opened #208 "Login as Customer from admin panel"
On Magento 2.4.3 admin option to log in as customer doesn't work. It ends on customer's log in page

[2022-01-28 09:34] gkopec commented on #208
Adding a rule to the Whitelist helped:
URL Rule: `/loginascustomer/login/index`

[2022-01-28 09:34] #208 closed

[2022-01-28 09:47] shochdoerfer commented on #208
@gkopec feel free to a PR to add this url to the default whitelist.

[2022-05-11 19:44] shochdoerfer commented on #188
Fixed and merged with #193

[2022-05-11 19:44] #188 closed

[2022-05-12 07:12] shochdoerfer commented on #142
Fixed Magento Admin login as customer with #212

[2022-05-12 07:12] #142 closed

[2022-05-12 08:24] shochdoerfer commented on #184
This seems to be fixed with #206, at least I could not reproduce it anymore. Tested it with Magento 2.4.4 and the dev-master version of this module. We'll push a new release in the next few days.

[2022-05-12 08:24] #184 closed

[2022-05-12 08:29] shochdoerfer commented on #190
The dev-master version of this module has been made compatible with 2.4.0 - 2.4.4, we'll release a new version in the next few days.

I could not reproduce the "too many redirects" with the dev-master version and Magento 2.4.4. This might have been fixed with #206 or #209.

[2022-05-12 08:29] #190 closed

[2022-05-12 08:44] shochdoerfer commented on #201
I could not reproduce the mentioned behavior with the dev-master version of this module and Magento 2.4.4. We will release the next version in the next few days, please check again and come back to us if the error is still happening.

[2022-05-12 08:44] #201 closed

[2022-05-12 08:47] shochdoerfer commented on #207
I could not reproduce the issue with the dev-master version of the module and Magento 2.4.4. We added a few bugfixes, maybe those have resolved the issue. We'll release the new version of the module in the next few days. Please check again if the error is gone and if not, come back to us.

[2022-05-12 08:47] #207 closed

[2022-05-12 08:51] shochdoerfer commented on #199
@xanka please check again with the dev-master version of the module and let us know if the error still exists. We will release a new version of the module in the next few days as well.

[2022-05-12 08:51] #199 closed

[2022-05-12 08:57] shochdoerfer commented on #200
I am not able to reproduce the issue with Magento 2.4.4 and the dev-master version of the module. We added some fixes, maybe one of them also fixes your problem. Feel free to give the dev-master version a try or wait a few days until we release the next version of the module.

[2022-05-12 08:57] #200 closed

[2022-05-12 08:58] shochdoerfer commented on #195
I assume the issue is fixed already. I could not reproduce it with the dev-master version of this module and Magento 2.4.4. If you feel there's more we need to fix, let us know.

The next version of the module will be released in next few days.

[2022-05-12 08:58] #195 closed

[2022-05-17 08:01] joachimVT opened #216 "Error while composer require 5.0"
I'm trying to update the package to the new 5.0 release, but its working due to composer error.

### Preconditions
Magento 2.4.3-p1

Force Login Module Version : 4.1.0
PHP version: 7.4

### Steps to reproduce

1. composer require bitexpert/magento2-force-customer-login:^5.0

### Expected result

1. New version 5.0 is required

### Actual result

Composer error:
[code]

### Update
When I update the

[2022-05-17 11:17] shochdoerfer commented on #216
Good catch, I thought about adding a section to the README.md file and then forgot about it. The main issue is that the package is available in both Packagist and Magento repo. And that is a problem (when version numbers are different), basically a new feature of Composer 2 to add a bit more security (e.g. you are not able to pull a hacked package from a 3rd party site).

You can fix it either the

[2022-05-17 11:26] shochdoerfer commented on #216
@joachimVT if you wanna help out, feel free to open a PR with some instructions on how to deal with the issue.

[2022-05-17 11:33] joachimVT commented on #216
Hi @shochdoerfer

Thanks for the info, I'll open a PR.

[2022-05-17 13:40] shochdoerfer commented on #216
Very much appreciated!

[2022-05-27 09:45] #216 closed

[2022-06-09 12:54] vandijkstef opened #219 "Password Reset Endless redirect"
### Preconditions

Dev & Production, unrelated env's

Magento Version : 2.4.3-p1

Force Login Module Version : 4.1.0

Third party modules : Yes, many

### Steps to reproduce

1. Enable the plugin
2. Password reset keeps redirecting to itself

### Expected result

1. Password reset should work

### Actual result

1. Endless redirect loop to the same page /customer/account/createpassword?token=XXX

[2022-06-10 10:48] vandijkstef commented on #219
[code]

Some suggestions are saying I should remove `"magento/composer-dependency-version-audit-plugin"` but then others are saying this package is adding extra security, so that doesn't seem the way to go.

It seems like 5.X isn't being released on the marketplace currently, and the canonical suggestion in your readme did not work to prevent this issue. What might be of use, im still on Composer

[2022-06-10 11:01] shochdoerfer commented on #219
The `magento/composer-dependency-version-audit-plugin` package does not cause the issue. That is basically a new "feature" of Composer 2. You can read about the why [here](https://getcomposer.org/doc/articles/repository-priorities.md#repository-priorities).

We have already sent an update to Magento Marketplace but sadly they don't seem to have processed the changes yet. The update is still stuck

[2022-06-16 13:55] VladyslavSikailo opened #220 "Problem with upgrade: 1061 Duplicate key name 'BITEXPERT_FORCELOGIN_WHITELIST_URL_RULE_STORE_ID'"
### Preconditions
1. Magento 2.4.3-p1
2. "bitexpert/magento2-force-customer-login": "^v4.1"

### Steps to reproduce
1. Upgrade Magento to 2.4.4
2. Upgrade "bitexpert/magento2-force-customer-login": "^5.0.1"

### Expected result
1. bin/magento setup:upgrade will be finished successfully

### Actual result
1. bin/magento setup:upgrade fails with the following error:
[code]

### Why it happened
It ha

[2022-07-13 12:57] manishgoswamig commented on #220
Hi @Dren7755,

Have you got the solution for this issue because I am facing the same issue with 2.4.4 EE setup.

[2022-07-13 18:51] shochdoerfer commented on #220
Any chance you could delete the index first before running the upgrade?

[2022-07-14 06:18] manishgoswamig opened #221 "Circular dependency: Magento\Customer\Model\Plugin\CustomerNotification depends on Magento\Customer\Model\Plugin\CustomerNotification and vice versa."
### Preconditions

Magento Version : Magento 2.4.4 EE

Force Login Module Version : 2.0.0

Third party modules : NO

### Steps to reproduce

1. After Magento version upgrade from 2.3.7-p2 to 2.4.4 version.
2. On the customer login page we are getting the below error.

![image](https://user-images.githubusercontent.com/46725562/178913379-b94a3d2c-9ba3-45a4-9969-e24ce3a0498f.png)

### Expected resul

[2022-07-14 08:30] websharp commented on #221
Hi @manishgoswamig - you are stating using the version 2.0.0 of the module? And placed it into the app/code folder. Is this correct? The 2.0 version is not compatible with Magento 2.4 - you would need to upgrade to the newest version (5.0.1)

Best regards
Florian

[2022-07-15 14:03] manishgoswamig opened #222 "Exception #0 (Exception): Deprecated Functionality: strpos(): Non-string needles will be interpreted as strings in the future"
### Preconditions

Magento Version : Magento 2.4.4 EE

Force Login Module Version : 5.0.1

Third party modules : NO

### Steps to reproduce

1. After Magento version upgrade from 2.3.7-p2 to 2.4.4 version.
2. On the customer login page we are getting the below error.

![image](https://user-images.githubusercontent.com/46725562/179238739-3f49938e-f6a2-45c5-8933-a786501aeca2.png)

### Expected resul

[2022-08-11 08:29] woutk88 commented on #220
Any updates on this? I am experiencing the same issue.

For now I've installed version 5.0.0 (instead of latest 5.0.1) which doesn't seem to have the issue.

[2022-08-22 15:19] zhovnirigor commented on #220
Whoever faced this issue just run
`bin/magento setup:db-declaration:generate-whitelist --module-name=BitExpert_ForceCustomerLogin`.
[shochdoerfer](https://github.com/shochdoerfer) just add `etc/db_schema_whitelist.json` to the package

[2022-08-22 18:07] shochdoerfer commented on #220
@zhovnirigor thx!

Sorry people for letting you hang, life came in my way. Will probably have some time to fix this next month.

[2022-10-13 09:36] juhanihaapala commented on #220
I added the fix with patch and confirmed it will fix the issue.

[2022-10-15 13:00] shochdoerfer commented on #220
dev-master branch is updated. Will see that I prepare a new release soonish. Sorry for the long waiting time but way too much other stuff on my plate.